<a class="product-item {% if sellers[game.seller] is defined %}{% if sellers[game.seller].priority == 100 %}product-item-blue{% else %}product-item-pink{% endif %}{% endif %}"
   href="{{ path('game', {digiseller:game.gameId}) }}">
    {% set category = category is defined ? category : null %}
    {% set discount = get_discount(game, category, curr) %}
    <div class="product-item-img">
        <img src="{{ game.img(194,194) }}" alt="{{ game.title }}">
        {% if discount.percent > 0 %}
            <div class="sale">-{{ discount.percent }}%</div>
        {% endif %}
    </div>
    <span class="product-item-cat">{{ game.section }}</span>
    <span class="product-item-content">
        {% if discount.percent > 0 %}
            <div class="sale-mob">-{{ discount.percent }}%</div>
        {% endif %}
            <span class="product-item-title">{{ game.title }}</span>
            <span class="product-item-stats">
                {% if game.sales != -1 %}
                <span class="num">{{ game.sales }}</span><span class="text">Продаж</span>
                {% endif %}
            </span>
            <span class="product-item-cat">{{ game.section }}</span>
            <span class="product-item-btns"><span class="cost-wrap">
                    <span class="new">{{ game.price(curr) }} {{ get_curr_symbol(curr) }}</span>
                     {% if discount.percent > 0 and game.price(curr)|length < 4 %}
                        <span class="old">{{ discount.price }} {{ get_curr_symbol(curr) }}</span>
                     {% endif %}
                </span>
                <span class="controls">
                    <span class="btn btn-gradient">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                          <path d="M21.822 7.431C21.635 7.161 21.328 7 21 7H7.333L6.179 4.23C5.867 3.482 5.143 3 4.333 3H2V5H4.333L9.077 16.385C9.232 16.757 9.596 17 10 17H18C18.417 17 18.79 16.741 18.937 16.352L21.937 8.352C22.052 8.044 22.009 7.7 21.822 7.431ZM17.307 15H10.667L8.167 9H19.557L17.307 15Z"
                                fill="white"></path>
                          <path d="M10.5 21C11.3284 21 12 20.3284 12 19.5C12 18.6716 11.3284 18 10.5 18C9.67157 18 9 18.6716 9 19.5C9 20.3284 9.67157 21 10.5 21Z"
                                fill="white"></path>
                          <path d="M17.5 21C18.3284 21 19 20.3284 19 19.5C19 18.6716 18.3284 18 17.5 18C16.6716 18 16 18.6716 16 19.5C16 20.3284 16.6716 21 17.5 21Z"
                                fill="white"></path>
                        </svg>
                    </span>
                </span>
            </span>
        </span>
</a>