<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top-wrap"><a class="logo" href="{{ path('index') }}">
            <img src="/img/logo.png" height="24" width="170" alt=""/></a>
                <div class="header-search">
                    <input class="input-text js-search-input" type="text" {% if search is defined %}value="{{ search }}"{% endif %}
                           placeholder="Ищите среди {{ count_of_all_games() }} товаров" data-path="{{ path('search_page') }}"/>
                    <input class="btn-search js-search-page" type="button" value=""/>
                    <div class="line-bot"></div>
                </div>
                <div class="burger burger--squeeze">
                    <div class="burger-box">
                        <div class="burger-inner"></div>
                    </div>
                </div>
                <div class="header-menu-mob">
                    <nav class="menu-mob">
                        <a class="btn btn-header" href="{{ path('all-games') }}">
                            <svg width="17" height="19" viewbox="0 0 28 28" fill="#fff"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.40625 8.53918V13.6352L7.05725 16.3208V10.9479L2.42402 8.27344C2.41229 8.36088 2.40625 8.44965 2.40625 8.53918Z"></path>
                                <path d="M8.58203 17.2003L13.2377 19.8885V14.5146L8.58203 11.8271V17.2003Z"></path>
                                <path d="M13.9987 7.82129L9.34375 10.5081L13.9987 13.1952L18.6537 10.5081L13.9987 7.82129Z"></path>
                                <path d="M14.7617 19.8885L19.4174 17.2003V11.8271L14.7617 14.5146V19.8885Z"></path>
                                <path d="M25.5707 8.27344L20.9375 10.9479V16.3208L25.5885 13.6352V8.53918C25.5886 8.44965 25.5825 8.36088 25.5707 8.27344Z"></path>
                                <path d="M24.5896 6.80283C23.5231 6.18655 21.878 5.23633 20.1785 4.25488L15.5234 6.94172L20.1784 9.6285L24.8133 6.95299C24.7426 6.89835 24.668 6.84803 24.5896 6.80283Z"></path>
                                <path d="M18.6533 3.37524C17.2708 2.57706 15.9568 1.8187 15.0008 1.26736C14.6916 1.08912 14.3448 1 13.9981 1C13.6512 1 13.3044 1.08912 12.995 1.26746C12.0601 1.80773 10.7425 2.56843 9.34375 3.3758L13.998 6.06223L18.6533 3.37524Z"></path>
                                <path d="M7.81916 4.25488C6.14653 5.22039 4.51147 6.16426 3.408 6.80192C3.32923 6.84732 3.25443 6.89779 3.18359 6.95264L7.81845 9.6281L12.4734 6.94131L7.81916 4.25488Z"></path>
                                <path d="M2.40625 19.6109C2.40625 20.3255 2.79021 20.9907 3.40821 21.347L3.40898 21.3474C4.34371 21.8875 5.65991 22.6475 7.05725 23.4541V18.0801L2.40625 15.3945V19.6109Z"></path>
                                <path d="M8.58203 24.3327C10.256 25.299 11.8928 26.2439 12.9972 26.882C13.0752 26.9269 13.1555 26.9661 13.2377 26.9997V21.6472L8.58203 18.959V24.3327Z"></path>
                                <path d="M14.7617 26.9996C14.8441 26.966 14.9248 26.9267 15.003 26.8816C16.1334 26.2296 17.7644 25.2882 19.4173 24.3338V18.959L14.7617 21.6472V26.9996Z"></path>
                                <path d="M20.9375 23.4539C22.3569 22.6341 23.6801 21.8698 24.5858 21.3464C25.2046 20.9898 25.5886 20.3246 25.5886 19.61V15.3936L20.9376 18.0791V23.4539H20.9375Z"></path>
                            </svg>
                            Каталог</a>
                        <a class="btn btn-header" href="https://ggsel.com/sellers">
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="30px"
                                 viewbox="0 0 24 24" width="30px" fill="#fff">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none"></path>
                                </g>
                                <g>
                                    <path d="M21.41,11.41l-8.83-8.83C12.21,2.21,11.7,2,11.17,2H4C2.9,2,2,2.9,2,4v7.17c0,0.53,0.21,1.04,0.59,1.41l8.83,8.83 c0.78,0.78,2.05,0.78,2.83,0l7.17-7.17C22.2,13.46,22.2,12.2,21.41,11.41z M6.5,8C5.67,8,5,7.33,5,6.5S5.67,5,6.5,5S8,5.67,8,6.5 S7.33,8,6.5,8z"></path>
                                </g>
                            </svg>
                            Начать продавать</a>
                        <a class="btn btn-header" target="_blank"
                           href="https://www.digiseller.market/info/delivery.asp?returnurl=purchases.asp&mode=">
                            <svg width="22" height="22" viewbox="0 0 22 22" fill="#fff"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_204_9796)">
                                    <path d="M21.615 7.62318C21.2932 7.24774 20.8105 7.00638 20.3278 7.00638H18.9869L13.8111 0.623777C13.4893 0.221513 12.9261 0.14106 12.497 0.436054C12.0948 0.757865 12.0143 1.32104 12.3093 1.75012C12.3093 1.77694 12.3361 1.77694 12.3361 1.80375L16.6001 7.00638H5.12217L9.35936 1.80375C9.70799 1.42831 9.68117 0.838318 9.30572 0.489689C8.93028 0.14106 8.34029 0.167877 7.99166 0.543324C7.96484 0.570142 7.93802 0.59696 7.9112 0.623777L2.7354 7.03319H1.66269C0.750894 7.03319 0 7.78409 0 8.69589C0 8.80316 0 8.91043 0.0268176 9.0177L2.17223 19.8252C2.38677 20.9515 3.37902 21.7561 4.53218 21.7561H17.4583C18.6114 21.7561 19.6037 20.9515 19.8182 19.8252L21.9636 9.0177C22.0709 8.53498 21.9368 8.02545 21.615 7.62318ZM8.2062 16.3926C8.2062 16.9021 7.77712 17.3312 7.26758 17.3312C6.75805 17.3312 6.32896 16.9021 6.32896 16.3926V12.5844C6.32896 12.0749 6.75805 11.6458 7.26758 11.6458C7.77712 11.6458 8.2062 12.0749 8.2062 12.5844V16.3926ZM11.9339 16.3926C11.9339 16.9021 11.5048 17.3312 10.9952 17.3312C10.4857 17.3312 10.0566 16.9021 10.0566 16.3926V12.5844C10.0566 12.0749 10.4857 11.6458 10.9952 11.6458C11.5048 11.6458 11.9339 12.0749 11.9339 12.5844V16.3926ZM15.6347 16.3926C15.6347 16.9021 15.2056 17.3312 14.6961 17.3312C14.1865 17.3312 13.7575 16.9021 13.7575 16.3926V12.5844C13.7575 12.0749 14.1865 11.6458 14.6961 11.6458C15.2056 11.6458 15.6347 12.0749 15.6347 12.5844V16.3926Z"></path>
                                </g>
                                <defs>
                                    <clippath id="clip0_204_9796">
                                        <rect width="22" height="22" fill="#fff"></rect>
                                    </clippath>
                                </defs>
                            </svg>
                            Мои покупки
                        </a>
                        {% include 'common/_header_controls.html.twig' %}
                    </nav>
                </div>
                <div class="header-top-right">
                    <a class="btn btn-header" href="https://ggsel.com/sellers" target="_blank" rel="nofollow">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="30px"
                             viewbox="0 0 24 24" width="30px" fill="#fff">
                            <g>
                                <path d="M0,0h24v24H0V0z" fill="none"></path>
                            </g>
                            <g>
                                <path d="M21.41,11.41l-8.83-8.83C12.21,2.21,11.7,2,11.17,2H4C2.9,2,2,2.9,2,4v7.17c0,0.53,0.21,1.04,0.59,1.41l8.83,8.83 c0.78,0.78,2.05,0.78,2.83,0l7.17-7.17C22.2,13.46,22.2,12.2,21.41,11.41z M6.5,8C5.67,8,5,7.33,5,6.5S5.67,5,6.5,5S8,5.67,8,6.5 S7.33,8,6.5,8z"></path>
                            </g>
                        </svg>
                        Начать продавать
                    </a>
                    <a class="btn btn-header" target="_blank" href="https://www.oplata.info/delivery/delivery.asp">
                        <svg width="22" height="22" viewbox="0 0 22 22" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_204_9796)">
                                <path d="M21.615 7.62318C21.2932 7.24774 20.8105 7.00638 20.3278 7.00638H18.9869L13.8111 0.623777C13.4893 0.221513 12.9261 0.14106 12.497 0.436054C12.0948 0.757865 12.0143 1.32104 12.3093 1.75012C12.3093 1.77694 12.3361 1.77694 12.3361 1.80375L16.6001 7.00638H5.12217L9.35936 1.80375C9.70799 1.42831 9.68117 0.838318 9.30572 0.489689C8.93028 0.14106 8.34029 0.167877 7.99166 0.543324C7.96484 0.570142 7.93802 0.59696 7.9112 0.623777L2.7354 7.03319H1.66269C0.750894 7.03319 0 7.78409 0 8.69589C0 8.80316 0 8.91043 0.0268176 9.0177L2.17223 19.8252C2.38677 20.9515 3.37902 21.7561 4.53218 21.7561H17.4583C18.6114 21.7561 19.6037 20.9515 19.8182 19.8252L21.9636 9.0177C22.0709 8.53498 21.9368 8.02545 21.615 7.62318ZM8.2062 16.3926C8.2062 16.9021 7.77712 17.3312 7.26758 17.3312C6.75805 17.3312 6.32896 16.9021 6.32896 16.3926V12.5844C6.32896 12.0749 6.75805 11.6458 7.26758 11.6458C7.77712 11.6458 8.2062 12.0749 8.2062 12.5844V16.3926ZM11.9339 16.3926C11.9339 16.9021 11.5048 17.3312 10.9952 17.3312C10.4857 17.3312 10.0566 16.9021 10.0566 16.3926V12.5844C10.0566 12.0749 10.4857 11.6458 10.9952 11.6458C11.5048 11.6458 11.9339 12.0749 11.9339 12.5844V16.3926ZM15.6347 16.3926C15.6347 16.9021 15.2056 17.3312 14.6961 17.3312C14.1865 17.3312 13.7575 16.9021 13.7575 16.3926V12.5844C13.7575 12.0749 14.1865 11.6458 14.6961 11.6458C15.2056 11.6458 15.6347 12.0749 15.6347 12.5844V16.3926Z"></path>
                            </g>
                            <defs>
                                <clippath id="clip0_204_9796">
                                    <rect width="22" height="22" fill="#fff"></rect>
                                </clippath>
                            </defs>
                        </svg>
                        Мои покупки</a>
                    {% include 'common/_header_controls.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div class="header-bot">
        <div class="container">
            <div class="header-bot-wrap">
                <div class="left"><a class="btn btn-header" href="{{ path('all-games') }}">
                        <svg width="28" height="28" viewbox="0 0 28 28" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.40625 8.53918V13.6352L7.05725 16.3208V10.9479L2.42402 8.27344C2.41229 8.36088 2.40625 8.44965 2.40625 8.53918Z"></path>
                            <path d="M8.58203 17.2003L13.2377 19.8885V14.5146L8.58203 11.8271V17.2003Z"></path>
                            <path d="M13.9987 7.82129L9.34375 10.5081L13.9987 13.1952L18.6537 10.5081L13.9987 7.82129Z"></path>
                            <path d="M14.7617 19.8885L19.4174 17.2003V11.8271L14.7617 14.5146V19.8885Z"></path>
                            <path d="M25.5707 8.27344L20.9375 10.9479V16.3208L25.5885 13.6352V8.53918C25.5886 8.44965 25.5825 8.36088 25.5707 8.27344Z"></path>
                            <path d="M24.5896 6.80283C23.5231 6.18655 21.878 5.23633 20.1785 4.25488L15.5234 6.94172L20.1784 9.6285L24.8133 6.95299C24.7426 6.89835 24.668 6.84803 24.5896 6.80283Z"></path>
                            <path d="M18.6533 3.37524C17.2708 2.57706 15.9568 1.8187 15.0008 1.26736C14.6916 1.08912 14.3448 1 13.9981 1C13.6512 1 13.3044 1.08912 12.995 1.26746C12.0601 1.80773 10.7425 2.56843 9.34375 3.3758L13.998 6.06223L18.6533 3.37524Z"></path>
                            <path d="M7.81916 4.25488C6.14653 5.22039 4.51147 6.16426 3.408 6.80192C3.32923 6.84732 3.25443 6.89779 3.18359 6.95264L7.81845 9.6281L12.4734 6.94131L7.81916 4.25488Z"></path>
                            <path d="M2.40625 19.6109C2.40625 20.3255 2.79021 20.9907 3.40821 21.347L3.40898 21.3474C4.34371 21.8875 5.65991 22.6475 7.05725 23.4541V18.0801L2.40625 15.3945V19.6109Z"></path>
                            <path d="M8.58203 24.3327C10.256 25.299 11.8928 26.2439 12.9972 26.882C13.0752 26.9269 13.1555 26.9661 13.2377 26.9997V21.6472L8.58203 18.959V24.3327Z"></path>
                            <path d="M14.7617 26.9996C14.8441 26.966 14.9248 26.9267 15.003 26.8816C16.1334 26.2296 17.7644 25.2882 19.4173 24.3338V18.959L14.7617 21.6472V26.9996Z"></path>
                            <path d="M20.9375 23.4539C22.3569 22.6341 23.6801 21.8698 24.5858 21.3464C25.2046 20.9898 25.5886 20.3246 25.5886 19.61V15.3936L20.9376 18.0791V23.4539H20.9375Z"></path>
                        </svg>
                        Каталог</a></div>
                <div class="right">
                    <ul class="header-menu">
                        {% set headerCategories = get_header_category() %}
                        {% for headCategory in headerCategories %}
                            <li>
                                <a href="{{ headCategory.url }}">
                                    <img src="{{ headCategory.icon }}" height="28" width="28"
                                         style="margin-right: 10px;" alt="{{ headCategory.name }}">
                                    <span>{{ headCategory.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>