{% for gc in indexCategory %}
    {% if gc.type == type %}
        <a class="game-item" href="{{ gc.url }}">
            <div class="game-item-img">
                <img class="lazy" data-src="{{ gc.image }}" height="34" width="34" alt="">
            </div>
            <div class="game-item-content">
                <div class="game-item-name">{{ gc.name }}</div>
                <div class="cost">
                    от<span>{{ get_header_price_by_url(gc.url, curr) }}{{ get_curr_symbol(curr) }}</span>
                </div>
            </div>
        </a>
    {% endif %}
{% endfor %}