<a href="{{ path('game', {digiseller:game.gameId,slug:get_slug(game.title)}) }}" class="header-search-result-item">
    <div class="header-search-result-item-img">
        <img src="{{ game.img }}" alt="{{ game.title }}"
{#             onerror="this.src='/img/empty.png'"#}
        >
    </div>
    <div class="header-search-result-item-content">
        <div class="header-search-result-item-name">{{ game.title }}</div>
        <div class="header-search-result-item-bot">
            <div class="header-search-result-item-cat">
{#                <img src="{{ game.sectionImg }}" alt="">#}
                <span>{{ game.section }}</span>
            </div>
            <div class="header-search-result-item-cost">{{ game.price(curr) }} <span>{{ get_curr_symbol(curr) }}</span></div>
        </div>
    </div>
</a>