{% set topGame = get_rand_top_game(category) %}
{% if topGame %}
    {% set discount = get_discount(topGame, category, curr) %}
    <div class="product-header">
        <div class="product-header-content">
            <div class="left">
                <div class="product-header-img">
                    <img src="{{ topGame.img(290, 290) }}" alt="">
                    <a class="btn btn-black"
                       href="{{ path('game', {digiseller:topGame.gameId}) }}">
                        Подробнее о товаре
                        <svg width="16" height="17" viewbox="0 0 16 17" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.9987 11.8333L12.6654 6.5L3.33203 6.5L7.9987 11.8333Z"
                                  fill="white"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="right">
                <div class="product-header-content-left">
                    <h1>{{ category.title }} на zaka-zakas</h1>
                    <div class="product-header-desc">{{ topGame.title }}</div>
                    {% if discount.percent > 0 %}
                        <div class="game-timer">
                            <div class="sale">
                                <svg width="22" height="21" viewbox="0 0 22 21" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.9788 4.52083L5.02051 16.4792" stroke="white" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M6.30241 7.9375C7.48177 7.9375 8.43783 6.98144 8.43783 5.80208C8.43783 4.62273 7.48177 3.66667 6.30241 3.66667C5.12305 3.66667 4.16699 4.62273 4.16699 5.80208C4.16699 6.98144 5.12305 7.9375 6.30241 7.9375Z"
                                          stroke="white" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                    <path d="M15.6979 17.3333C16.8773 17.3333 17.8333 16.3773 17.8333 15.1979C17.8333 14.0186 16.8773 13.0625 15.6979 13.0625C14.5186 13.0625 13.5625 14.0186 13.5625 15.1979C13.5625 16.3773 14.5186 17.3333 15.6979 17.3333Z"
                                          stroke="white" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                            </div>

                            {% if topGame.saleEnd and topGame.isSaleEnd %}
                                {% set interval = topGame.saleEndInterval %}
                            {% else %}
                                {% set interval = topGame.saleEndIntervalCustom %}
                            {% endif %}
                            <div class="timer">
                                <div class="timer-title">До конца акции</div>
                                <div class="timer-items">
                                    <div class="timer-item">
                                        <div class="timer-hours">{{ interval.h }}</div>
                                    </div>
                                    <div class="timer-item">
                                        <div class="timer-minutes">{{ interval.i }}</div>
                                    </div>
                                    <div class="timer-item">
                                        <div class="timer-seconds">{{ interval.s }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="product-header-content-right">
                    <div class="product-controls">
                        <div class="product-controls-top">
                            <div class="cost-wrap">
                                {% if discount.percent > 0 %}
                                    <div class="sale-percent">-{{ discount.percent }}%</div>
                                    <div class="old">{{ discount.price }} {{ get_curr_symbol(curr) }}</div>
                                {% endif %}

                                <div class="new">{{ topGame.price(curr) }} {{ get_curr_symbol(curr) }}</div>
                            </div>
                        </div>
                        <form id="buy_form" action="https://www.oplata.info/asp2/pay_gm.asp" method="get"
                              target="_blank">
                            <input type="hidden" name="ai" value="{{ get_config('seller_id').value }}">
                            <input type="hidden" name="id_d" value="{{ topGame.gameId }}">
                            <input type="hidden" name="curr" value="wmr">
                        </form>
                        <div class="product-controls-mid"><a class="btn btn-gradient"
                                                             onclick="document.getElementById('buy_form').submit();">
                                <svg width="24" height="25" viewbox="0 0 24 25" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.822 7.931C21.635 7.661 21.328 7.5 21 7.5H7.333L6.179 4.73C5.867 3.982 5.143 3.5 4.333 3.5H2V5.5H4.333L9.077 16.885C9.232 17.257 9.596 17.5 10 17.5H18C18.417 17.5 18.79 17.241 18.937 16.852L21.937 8.852C22.052 8.544 22.009 8.2 21.822 7.931ZM17.307 15.5H10.667L8.167 9.5H19.557L17.307 15.5Z"
                                          fill="#fff"></path>
                                    <path d="M10.5 21.5C11.3284 21.5 12 20.8284 12 20C12 19.1716 11.3284 18.5 10.5 18.5C9.67157 18.5 9 19.1716 9 20C9 20.8284 9.67157 21.5 10.5 21.5Z"
                                          fill="#fff"></path>
                                    <path d="M17.5 21.5C18.3284 21.5 19 20.8284 19 20C19 19.1716 18.3284 18.5 17.5 18.5C16.6716 18.5 16 19.1716 16 20C16 20.8284 16.6716 21.5 17.5 21.5Z"
                                          fill="#fff"></path>
                                </svg>
                                Купить</a>
                        </div>
                        <div class="form-group-checkbox">
                            <label class="form-label">Ознакомлен с <a href="#">описанием товара</a>
                                <input class="form-input" type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="product-controls-bot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        Date.prototype.addHours = function (h) {
            this.setTime(this.getTime() + (h * 60 * 60 * 1000));
            return this.getHours();
        }

        function initTimer() {
            var hour = document.getElementsByClassName("timer-hours")[0];
            var minute = document.getElementsByClassName("timer-minutes")[0];
            var second = document.getElementsByClassName("timer-seconds")[0];
            var date = new Date();

            startTimer();
        }

        function startTimer() {
            var hour = document.getElementsByClassName("timer-hours")[0];
            var minute = document.getElementsByClassName("timer-minutes")[0];
            var second = document.getElementsByClassName("timer-seconds")[0];
            var h = hour.innerHTML.replace("<span>{{ 'hours'|trans }}</span>", '');
            var m = minute.innerHTML.replace("<span>{{ 'minutes'|trans }}</span>", '');
            var s = second.innerHTML.replace("<span>{{ 'seconds'|trans }}</span>", '');
            if (s == 0) {
                m--;
                s = 60;
                if (m == 0) {
                    h--;
                    m = 60;
                }
                m--;
            }
            s--;
            hour.innerHTML = h;
            minute.innerHTML = m;
            second.innerHTML = s;
            setTimeout(startTimer, 1000);
        }

        initTimer();
    </script>

{% endif %}