{% extends 'base.html.twig' %}
{% block title %}{{ get_game_title(game) }}{% endblock %}
{% block description %}Купите {{ game.title }} на официальном сайте STEAMBUY COM! Мы принимаем все банковские карты! Моментальная доставка и гарантия от Стимбай! Более {{ game.sales }} продаж!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="/css/slick.min.css"> #}
{% endblock %}
{% block body %}
    {% set discount = get_discount(game, category, curr) %}
    {% include 'common/_header.html.twig' %}

    <div class="page page-product page-product-wrap">
        <div class="container">

            <div class="breadcrumbs-wrap">
                {% set breadcrumbs = get_game_bredcrumbs(game) %}
                <div class="breadcrumbs">
                    {% for brc in breadcrumbs %}
                        {% if brc.url is defined %}
                            <a href="{{ brc.url }}"><span>{{ brc.name }}</span></a>
                        {% else %}
                            <span class="active">{{ brc.name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <h1 class="title-product">{{ game.title }}</h1>
            <div class="category-header">
                <div class="category-header-img">
                    <img src="{{ game.img }}" height="376" width="376" alt="{{ game.title }}">
                </div>
                <div class="catalog-header-content">
                    <div class="product-content-top">
                        <div class="game-timer">
                            {% if discount.percent > 0 %}
                                <div class="sale">Акция -{{ discount.percent }}%</div>
                            {% endif %}
                            <div class="cost">
                                {% if discount.percent > 0 %}
                                    <div class="old">{{ discount.price }} {{ get_curr_symbol(curr) }}</div>
                                {% endif %}
                                <div class="price">{{ game.price(curr) }} {{ get_curr_symbol(curr) }}</div>
                            </div>
                            {% if discount.percent > 0 %}
                                <div class="timer">
                                    {% if game.saleEnd and game.isSaleEnd %}#}
                                        {% set interval = game.saleEndInterval %}
                                    {% else %}
                                        {% set interval = game.saleEndIntervalCustom %}
                                    {% endif %}
                                    <div class="timer-item">
                                        <div class="num timer-hours">{{ interval.h }}</div>
                                        <div class="text">часов</div>
                                    </div>
                                    <div class="timer-item">
                                        <div class="num timer-minutes">{{ interval.h }}</div>
                                        <div class="text">минут</div>
                                    </div>
                                    <div class="timer-item">
                                        <div class="num timer-seconds">{{ interval.h }}</div>
                                        <div class="text">секунд</div>
                                    </div>
                                    <script type="text/javascript">
                                        Date.prototype.addHours = function (h) {
                                            this.setTime(this.getTime() + (h * 60 * 60 * 1000));
                                            return this.getHours();
                                        }

                                        function initTimer() {
                                            var hour = document.getElementsByClassName("timer-hours")[0];
                                            var minute = document.getElementsByClassName("timer-minutes")[0];
                                            var second = document.getElementsByClassName("timer-seconds")[0];
                                            var date = new Date();

                                            startTimer();
                                        }

                                        function startTimer() {
                                            var hour = document.getElementsByClassName("timer-hours")[0];
                                            var minute = document.getElementsByClassName("timer-minutes")[0];
                                            var second = document.getElementsByClassName("timer-seconds")[0];
                                            var h = hour.innerHTML.replace("<span>{{ 'hours'|trans }}</span>", '');
                                            var m = minute.innerHTML.replace("<span>{{ 'minutes'|trans }}</span>", '');
                                            var s = second.innerHTML.replace("<span>{{ 'seconds'|trans }}</span>", '');
                                            if (s == 0) {
                                                m--;
                                                s = 60;
                                                if (m == 0) {
                                                    h--;
                                                    m = 60;
                                                }
                                                m--;
                                            }
                                            s--;
                                            hour.innerHTML = h;
                                            minute.innerHTML = m;
                                            second.innerHTML = s;
                                            setTimeout(startTimer, 1000);
                                        }

                                        initTimer();
                                    </script>
                                </div>
                            {% endif %}
                        </div>
                        <div class="stats-block">
                            <div class="stats-items"><a class="stats-item" href="#">
                                    <div class="num">{{ game.cntGoodresponses + game.cntBadresponses }}</div>
                                    <div class="text">отзывов</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001  c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213  C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606  C255,161.018,253.42,157.202,250.606,154.389z"></path>
                                    </svg>
                                </a>
                                <div class="stats-item">
                                    <div class="num">{{ game.sales }}</div>
                                    <div class="text">продаж</div>
                                </div>
                                <div class="stats-item">
                                    <div class="num">{{ game.seller }}</div>
                                    <div class="text">просмотров</div>
                                </div>
                            </div>
                        </div>
                            <a class="earn-block" target="_blank" href="https://ggsel.com/how" rel="nofollow">
                                <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M34.1422 5.85781C30.3647 2.08031 25.3422 0 20 0C14.6578 0 9.63531 2.08031 5.85781 5.85781C2.08031 9.63531 0 14.6578 0 20C0 25.3422 2.08039 30.3646 5.85781 34.1422C9.63523 37.9198 14.6578 40 20 40C25.3422 40 30.3647 37.9197 34.1422 34.1422C37.9197 30.3647 40 25.3422 40 20C40 14.6578 37.9196 9.63539 34.1422 5.85781V5.85781ZM20 18.75C23.1016 18.75 25.625 21.2734 25.625 24.375C25.625 26.9435 23.894 29.114 21.5377 29.7846C21.3684 29.8328 21.25 29.9851 21.25 30.1611V31.2147C21.25 31.8878 20.7327 32.467 20.0604 32.4986C19.3425 32.5323 18.75 31.9604 18.75 31.25V30.1609C18.75 29.9853 18.6323 29.833 18.4635 29.7849C16.1173 29.1177 14.3907 26.9636 14.3751 24.4099C14.3709 23.7283 14.9069 23.1451 15.5883 23.1255C16.2954 23.1052 16.875 23.6724 16.875 24.375C16.875 26.172 18.3998 27.6197 20.2234 27.4922C21.7627 27.3846 23.0097 26.1376 23.1172 24.5982C23.2445 22.7745 21.797 21.25 20 21.25C16.8984 21.25 14.375 18.7266 14.375 15.625C14.375 13.0565 16.106 10.886 18.4623 10.2154C18.6316 10.1672 18.75 10.0149 18.75 9.83891V8.78531C18.75 8.11219 19.2673 7.53305 19.9396 7.50141C20.6575 7.46766 21.25 8.03961 21.25 8.75V9.83914C21.25 10.0147 21.3677 10.167 21.5365 10.2151C23.8827 10.8823 25.6093 13.0364 25.6249 15.5901C25.6291 16.2717 25.0931 16.8549 24.4117 16.8745C23.7046 16.8948 23.125 16.3276 23.125 15.625C23.125 13.828 21.6002 12.3803 19.7766 12.5078C18.2373 12.6154 16.9903 13.8624 16.8828 15.4018C16.7555 17.2255 18.203 18.75 20 18.75V18.75Z"
                                          fill="white"></path>
                                </svg>
                                <div class="earn-desc">
                                    Как заработать на этом товаре?
                                </div>
                            </a>
                        <div class="catalog-header-footer">
                            <div class="form-group-checkbox">
                                <label class="form-label">
                                    <span>Я ознакомился с</span> <a class="scroll-link" href="#desc-product">описанием
                                        товара</a>
                                    <input class="form-input" type="checkbox" checked="checked"><span
                                            class="checkmark"></span>
                                </label>
                            </div>
                            <form id="buy_form" action="https://www.oplata.info/asp2/pay_gm.asp" method="get"
                                  target="_blank">
                                <input type="hidden" name="ai" value="{{ app.request.cookies.get('partner', get_config('seller_id').value) }}">
                                <input type="hidden" name="id_d" value="{{ game.gameId }}">
                                <input type="hidden" name="curr" value="wmr">
                            </form>
                            <a class="btn btn-blue" onclick="ym(88107098,'reachGoal','buy_form'); document.getElementById('buy_form').submit();">Купить</a>
                        </div>
                    </div>
                    <div class="product-content-bot">
                        <div class="catalog-header-footer">
                            <div class="form-group-checkbox">
                                <label class="form-label">
                                    <span>Я ознакомился с</span> <a class="scroll-link" href="#desc-product">описанием
                                        товара</a>
                                    <input class="form-input" type="checkbox" checked="checked"><span
                                            class="checkmark"></span>
                                </label>
                            </div>
                            <a class="btn btn-blue btn-purchase" onclick="ym(88107098,'reachGoal','buy_form'); document.getElementById('buy_form').submit();">Купить</a>
                        </div>
                        <div class="stats-block">
                            <div class="stats-items">
                                <a class="stats-item" id="scroll" href="#">
                                    <div class="num">{{ game.cntGoodresponses + game.cntBadresponses }}</div>
                                    <div class="text">отзывов</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve">
                                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001  c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213  C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606  C255,161.018,253.42,157.202,250.606,154.389z"></path>
                                    </svg>
                                </a>
                                <div class="stats-item">
                                    <div class="num">{{ game.sales }}</div>
                                    <div class="text">продаж</div>
                                </div>
                                <div class="stats-item">
                                    <div class="num">{{ game.seller }}</div>
                                    <div class="text">просмотров</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-in-page-info">
                {% if seller %}
                    <div class="links">
                        <a class="link-seller" href="{{ path('seller', {'seller':seller.sellerId}) }}" rel="nofollow">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M37.9662 14.0091L35.93 5.73029C35.6802 4.71314 34.7803 4 33.7475 4H6.25475C5.222 4 4.322 4.71314 4.07 5.73029L2.03375 14.0091C2.01125 14.0983 2 14.192 2 14.2857C2 17.4354 4.39625 20 7.34375 20C9.056 20 10.5837 19.1337 11.5625 17.7897C12.5413 19.1337 14.069 20 15.7812 20C17.4935 20 19.0212 19.1337 20 17.7897C20.9788 19.1337 22.5042 20 24.2188 20C25.9333 20 27.4587 19.1337 28.4375 17.7897C29.4163 19.1337 30.9417 20 32.6562 20C35.6037 20 38 17.4354 38 14.2857C38 14.192 37.9888 14.0983 37.9662 14.0091Z"
                                      fill="white"></path>
                                <path d="M32.6562 21.9998C31.124 21.9998 29.6682 21.5318 28.4375 20.6768C25.976 22.389 22.4615 22.389 20 20.6768C17.5385 22.389 14.024 22.389 11.5625 20.6768C10.3317 21.5318 8.876 21.9998 7.34375 21.9998C6.239 21.9998 5.19725 21.741 4.25 21.3V33.2498C4.25 34.4918 5.258 35.4998 6.5 35.4998H15.5V26.4998H24.5V35.4998H33.5C34.742 35.4998 35.75 34.4918 35.75 33.2498V21.3C34.8027 21.741 33.761 21.9998 32.6562 21.9998Z"
                                      fill="white"></path>
                            </svg>
                            <div class="link-seller-wrap"><span class="link-seller-title">Продавец</span><span
                                        class="link-seller-name">{{ seller.name }}</span></div>
                        </a>
                        <a class="link-seller" target="_blank" rel="nofollow"
                           href="https://passport.webmoney.ru//asp/CertView.asp?wmid={{ seller.wmid }}">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M30.9885 20.2107L27.5781 23.292L30.6574 26.7002L34.0678 23.6189L30.9885 20.2107Z"
                                      fill="white"></path>
                                <path d="M24.1964 22.9832L19.6484 27.0771L23.7443 31.6273L28.2923 27.5334L24.1964 22.9832Z"
                                      fill="white"></path>
                                <path d="M37.1389 19.1263L34.8672 21.1738L36.9147 23.4455L39.1864 21.398L37.1389 19.1263Z"
                                      fill="white"></path>
                                <path d="M24.9293 6.15466L21.5156 9.22754L24.5885 12.6412L28.0022 9.56836L24.9293 6.15466Z"
                                      fill="white"></path>
                                <path d="M34.2358 12.3374L31.9688 14.3857L34.019 16.655L36.2861 14.6067L34.2358 12.3374Z"
                                      fill="white"></path>
                                <path d="M20.9664 15.1004L16.4141 19.1982L20.5099 23.7484L25.0623 19.6506L20.9664 15.1004Z"
                                      fill="white"></path>
                                <path d="M17.7142 7.34651L13.1641 11.4424L17.2599 15.9925L21.8101 11.8967L17.7142 7.34651Z"
                                      fill="white"></path>
                                <path d="M28.0615 13.0192L24.6562 16.0928L27.7357 19.5045L31.1409 16.4309L28.0615 13.0192Z"
                                      fill="white"></path>
                                <path d="M31.3108 5.59018L29.0391 7.6377L31.0866 9.90938L33.3583 7.86186L31.3108 5.59018Z"
                                      fill="white"></path>
                                <path d="M33.9983 27.1079L30.5859 30.1826L33.6626 33.5971L37.0749 30.5224L33.9983 27.1079Z"
                                      fill="white"></path>
                                <path d="M28.0087 30.9757L23.5611 35.0767L16.0523 26.7203L18.1406 24.8824L12.8833 18.996L14.9833 17.1552L9.64734 11.2745L17.9746 3.77738L20.6193 6.67256L25.0844 2.68806L27.7232 5.42303L29.4825 3.84729C29.0893 3.6201 28.696 3.41039 28.297 3.22107C25.7601 1.98028 22.9115 1.28125 19.9115 1.28125C9.37647 1.28125 0.78125 9.87356 0.78125 20.4115C0.78125 30.9466 9.37647 39.5389 19.9115 39.5389C23.3339 39.5389 26.5582 38.633 29.3397 37.0456C30.2572 36.5272 31.0932 35.965 31.8563 35.3738L28.0087 30.9757Z"
                                      fill="white"></path>
                            </svg>
                            <div class="link-seller-wrap"><span class="link-seller-title">Сертификат</span><span
                                        class="link-seller-name">Webmoney</span>
                            </div>
                        </a>
                        <div class="saller-rating">
                            <div class="saller-rating-wrap">
                                <div class="rating-title">Рейтинг
                                    <div class="percent">({{ seller.rating }}%)</div>
                                </div>
                                <div class="saller-rating-items">
                                    <div class="star-rating"><span style="width: {{ seller.rating }}%"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="mid-wrap">
                    <div class="guad">
                        <svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.7935 9.17996L20.6777 0.187383C20.2577 -0.0624609 19.7345 -0.0624609 19.3144 0.187383L4.19852 9.17996C3.79453 9.42035 3.54688 9.85582 3.54688 10.3259V15.4593C3.54688 26.2713 9.79375 36.1464 19.5146 39.91C19.8241 40.0299 20.1677 40.03 20.4774 39.91C30.1747 36.1558 36.4451 26.3021 36.4451 15.4593V10.3259C36.4452 9.85574 36.1976 9.42035 35.7935 9.17996ZM26.5833 17.0039L18.2266 25.3606C17.7059 25.8813 16.8617 25.8813 16.341 25.3606L13.4082 22.4279C12.8875 21.9072 12.8875 21.0629 13.4082 20.5422C13.9289 20.0216 14.7732 20.0216 15.2938 20.5422L17.2838 22.5321L24.6977 15.1182C25.2183 14.5976 26.0626 14.5976 26.5833 15.1182C27.1041 15.639 27.1041 16.4832 26.5833 17.0039Z"
                                  fill="#1380E6"></path>
                        </svg>
                        <div class="guad-wrap">
                            <div class="text">Гарантия сделки</div>
                            <div>Моментальное получение</div>
                        </div>
                    </div>
                    <div class="pay-methods">
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-webmoney.svg" height="34" width="34" alt=""></div>
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-steam.svg" height="34" width="34" alt=""></div>
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-bitcoin.svg" height="34" width="34" alt=""></div>
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-beeline.svg" height="34" width="34" alt=""></div>
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-megafon.svg" height="34" width="34" alt=""></div>
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-qiwi.svg" height="34" width="34" alt=""></div>
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-yandex.svg" height="34" width="26" alt=""></div>
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-mc.svg" height="34" width="51" alt=""></div>
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-mts.svg" height="34" width="34" alt=""></div>
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-tele2.svg" height="34" width="77" alt=""></div>
                        <div class="pay-methods-img"><img class="lazy" data-src="/img/pay-visa.svg" height="34" width="91" alt=""></div>
                    </div>
                </div>
            </div>
            <h2 class="title-product" id="desc-product">Описание товара</h2>
            <div class="product-desc-wrap">
                {{ game.message|noFlow|raw }}
                <div class="text">При несоблюдении условий мы можем отказать в обслуживании без возврата средств.</div>


                <div class="info-items">
                    <div class="info-item">
                        <div class="info-item-title">ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ:</div>
                        {{ game.moreinfo|raw }}
                    </div>
                    <div class="info-item">
                        <div class="info-item-title">МИНИМАЛЬНЫЕ СИСТЕМНЫЕ ТРЕБОВАНИЯ:</div>
                        {{ game.sysinfo|raw }}
                    </div>
                </div>
            </div>
            {% if related|length > 0 %}
                <div class="title-slider">Рекомендации</div>
                <div class="swiper-wrap">
                    <div class="swiper recommend-slider">
                        <div class="swiper-wrapper">
                            {% for r in related %}
                                <div class="swiper-slide">
                                    <a class="product-item"
                                       href="{{ path('game', {digiseller:r.gameId,slug:get_slug(r.title)}) }}">
                                        <div class="product-item-img">
                                            <img class="lazy" data-src="{{ r.img }}" height="219" width="219"
                                                 alt="{{ r.title }}">
                                        </div>
                                        <span class="product-item-content">
                                    <span class="product-item-title">{{ r.title }}</span>
                                    <span class="product-item-cat">{{ r.section }}</span>
                                    <span class="product-item-stats">
                                        {% if r.sales != -1 %}
                                            <span>{{ r.sales }}</span>продаж</span>
                                        {% endif %}
                                            <span class="price-wrap">
                                                <span class="cost">
                                                <span class="new">{{ r.price(curr) }} {{ get_curr_symbol(curr) }}</span>
                                            </span>
                                            <span class="btn-wrap">
                                                <span class="btn btn-blue">Купить</span>
                                            </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-button-prev swiper-recommend-prev"></div>
                    <div class="swiper-button-next swiper-recommend-next"></div>
                    <div class="swiper-pagination recommend-pagination"></div>
                </div>
            {% endif %}
            <div class="reviews-wrap">
                <div class="title-wrap">
                    <div class="title">Отзывы о товаре</div>
                    <div class="reviews-stats">
                        <div class="reviews-stats-item">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_8_6946)">
                                    <path d="M1.19891 17.5742C0.545391 17.5742 0.015625 18.1041 0.015625 18.7575V36.137C0.015625 36.7905 0.545469 37.3203 1.19891 37.3203H8.32805V17.5742H1.19891Z"
                                          fill="#3BD72D"></path>
                                    <path d="M39.9859 24.1084C39.9859 22.6063 39.1787 21.2891 37.9755 20.5677C38.4365 19.902 38.7069 19.0944 38.7069 18.2251C38.7069 15.9506 36.8564 14.1002 34.582 14.1002H25.8743C26.1412 12.8908 26.5062 11.076 26.7603 9.17626C27.4217 4.23243 26.9697 1.49063 25.3379 0.54774C24.3205 -0.0399945 23.2237 -0.159213 22.2493 0.211724C21.4966 0.498443 20.48 1.20336 19.9007 2.93344L17.6121 8.92571C16.4519 11.7911 12.8988 14.7993 10.6953 16.4627V37.8438C14.7792 39.2747 19.0408 40 23.3884 40H32.8764C35.1509 40 37.0013 38.1495 37.0013 35.8751C37.0013 35.0786 36.7744 34.3341 36.3818 33.7029C37.7569 33.0332 38.7067 31.6212 38.7067 29.9917C38.7067 29.1223 38.4363 28.3149 37.9753 27.6491C39.1787 26.9277 39.9859 25.6105 39.9859 24.1084Z"
                                          fill="#3BD72D"></path>
                                </g>
                                <defs>
                                    <clippath id="clip0_8_6946">
                                        <rect width="40" height="40" fill="white"></rect>
                                    </clippath>
                                </defs>
                            </svg>
                            <span>{{ game.cntGoodresponses }}</span>
                        </div>
                        <div class="reviews-stats-item">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_8_6956)">
                                    <path d="M1.19891 22.4258C0.545391 22.4258 0.015625 21.8959 0.015625 21.2425V3.86297C0.015625 3.20945 0.545469 2.67969 1.19891 2.67969H8.32805V22.4258H1.19891Z"
                                          fill="#D21900"></path>
                                    <path d="M39.9859 15.8916C39.9859 17.3937 39.1787 18.7109 37.9755 19.4323C38.4365 20.098 38.7069 20.9056 38.7069 21.7749C38.7069 24.0494 36.8564 25.8998 34.582 25.8998H25.8743C26.1412 27.1092 26.5062 28.924 26.7603 30.8237C27.4217 35.7676 26.9697 38.5094 25.3379 39.4523C24.3205 40.04 23.2237 40.1592 22.2493 39.7883C21.4966 39.5016 20.48 38.7966 19.9007 37.0666L17.6121 31.0743C16.4519 28.2089 12.8988 25.2007 10.6953 23.5373V2.15625C14.7792 0.725307 19.0408 -3.8147e-06 23.3884 -3.8147e-06H32.8764C35.1509 -3.8147e-06 37.0013 1.85046 37.0013 4.12492C37.0013 4.9214 36.7744 5.66593 36.3818 6.2971C37.7569 6.96679 38.7067 8.37882 38.7067 10.0083C38.7067 10.8777 38.4363 11.6851 37.9753 12.3509C39.1787 13.0723 39.9859 14.3895 39.9859 15.8916Z"
                                          fill="#D21900"></path>
                                </g>
                                <defs>
                                    <clippath id="clip0_8_6956">
                                        <rect width="40" height="40" fill="white"
                                              transform="matrix(1 0 0 -1 0 40)"></rect>
                                    </clippath>
                                </defs>
                            </svg>
                            <span>{{ game.cntBadresponses }}</span>
                        </div>
                    </div>
                </div>
                <div class="reviews-items js-tab-container-resp"
                     data-path="{{ path('get-comments',{digiseller:game.gameId}) }}">
                </div>
            </div>
        </div>
    </div>


    {% include 'common/_footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {# <script src="/js/slick.min.js"></script> #}
{% endblock %}
{% block ld %}
    <script type="application/ld+json">
    {{ get_ld_product(game)|json_encode()|raw }}
    {{ get_ld_product_breadcrumb(game)|json_encode()|raw }}















    </script>
{% endblock %}