{% extends 'base.html.twig' %}
{% block title %}{{ get_game_title(game) }}{% endblock %}
{% block description %}Купить {{ game.title }} на сайте магазина ключей и аккаунтов Zaka-zaka com по цене от {{ game.wmr }} руб! Моментальное получение и гарантия честной покупки!'{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="/css/slick.min.css"> #}
{% endblock %}
{% block body %}
    {% set discount = get_discount(game, category, curr) %}
    {% include 'common/_header.html.twig' %}
    <div class="page page-product">
        <div class="container">
            <div class="breadcrumb-wrap">
                {% set breadcrumbs = get_game_bredcrumbs(game) %}
                <ul class="breadcrumb">
                    {% for brc in breadcrumbs %}
                        <li>
                            {% if brc.url is defined %}
                                <a href="{{ brc.url }}">{{ brc.name }}</a>
                            {% else %}
                                {{ brc.name }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="product-wrap">
                <div class="product-content">
                    <div class="product-header">
                        <div class="product-header-content">
                            <div class="left">
                                <div class="product-header-img"><img src="{{ game.img(290,290) }}" alt=""></div>
                            </div>
                            <div class="right">
                                <h1 class="product-header-title">{{ game.title }}</h1>
                                <div class="product-header-stats">
                                    <a class="product-header-stats-item scroll-to" href="#reviews">
                                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 7H17V9H7V7ZM7 11H14V13H7V11Z" fill="#8989F5"></path>
                                            <path d="M20 2H4C2.897 2 2 2.897 2 4V22L7.333 18H20C21.103 18 22 17.103 22 16V4C22 2.897 21.103 2 20 2ZM20 16H6.667L4 18V4H20V16Z"
                                                  fill="#8989F5"></path>
                                        </svg>
                                        {{ game.cntGoodresponses + game.cntBadresponses }} отзывов
                                    </a>
                                    <div class="product-header-stats-item">
                                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.707 2.293C11.52 2.105 11.265 2 11 2H6C5.735 2 5.48 2.105 5.293 2.293L2.293 5.293C2.105 5.48 2 5.734 2 6V11C2 11.266 2.105 11.52 2.293 11.707L12.293 21.707C12.488 21.902 12.744 22 13 22C13.256 22 13.512 21.902 13.707 21.707L21.707 13.707C22.098 13.316 22.098 12.684 21.707 12.293L11.707 2.293ZM13 19.586L4 10.586V6.414L6.414 4H10.586L19.586 13L13 19.586Z"
                                                  fill="#8989F5"></path>
                                            <path d="M10.647 12.294C11.5566 12.294 12.294 11.5566 12.294 10.647C12.294 9.73739 11.5566 9 10.647 9C9.73739 9 9 9.73739 9 10.647C9 11.5566 9.73739 12.294 10.647 12.294Z"
                                                  fill="#8989F5"></path>
                                        </svg>
                                        {{ game.sales }} продаж
                                    </div>
                                    <div class="product-header-stats-item">
                                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z"
                                                  stroke="#8989F5" stroke-width="2" stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                            <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                                                  stroke="#8989F5" stroke-width="2" stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                        </svg>
                                        {{ game.seller }} просмотр
                                    </div>
                                </div>
                                <div class="product-header-desc">
                                    {{ game.moreinfo|raw }}
                                </div>
                                <form id="buy_form" action="https://www.oplata.info/asp2/pay_gm.asp" method="get"
                                      target="_blank">
                                    <input type="hidden" name="ai" value="{{ get_config('seller_id').value }}">
                                    <input type="hidden" name="id_d" value="{{ game.gameId }}">
                                    <input type="hidden" name="curr" value="wmr">
                                </form>
                                <div class="product-in-controls">
                                    <div class="cost-wrap">
                                        {% if discount.percent > 0 %}
                                            <div class="old">{{ discount.price }} {{ get_curr_symbol(curr) }}</div>
                                        {% endif %}
                                        <div class="new">{{ game.price(curr) }} {{ get_curr_symbol(curr) }}</div>
                                    </div>
                                    <a class="btn btn-gradient" onclick="document.getElementById('buy_form').submit();">
                                        <svg width="24" height="25" viewbox="0 0 24 25" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21.822 7.931C21.635 7.661 21.328 7.5 21 7.5H7.333L6.179 4.73C5.867 3.982 5.143 3.5 4.333 3.5H2V5.5H4.333L9.077 16.885C9.232 17.257 9.596 17.5 10 17.5H18C18.417 17.5 18.79 17.241 18.937 16.852L21.937 8.852C22.052 8.544 22.009 8.2 21.822 7.931ZM17.307 15.5H10.667L8.167 9.5H19.557L17.307 15.5Z"
                                                  fill="#fff"></path>
                                            <path d="M10.5 21.5C11.3284 21.5 12 20.8284 12 20C12 19.1716 11.3284 18.5 10.5 18.5C9.67157 18.5 9 19.1716 9 20C9 20.8284 9.67157 21.5 10.5 21.5Z"
                                                  fill="#fff"></path>
                                            <path d="M17.5 21.5C18.3284 21.5 19 20.8284 19 20C19 19.1716 18.3284 18.5 17.5 18.5C16.6716 18.5 16 19.1716 16 20C16 20.8284 16.6716 21.5 17.5 21.5Z"
                                                  fill="#fff"></path>
                                        </svg>
                                        Купить</a>
                                </div>
                                <div class="saller-rating">
                                    <div class="saller-rating-wrap">
                                        <div class="saller-rating-items">
                                            <div class="star-rating"><span style="width: {{ seller.rating }}%"></span>
                                            </div>
                                        </div>
                                        <div class="rating-title">
                                            <div class="percent">{{ seller.rating }}%</div>
                                        </div>
                                    </div>
                                </div>
                                <a class="link-seller" href="{{ path('seller', {'seller':seller.sellerId}) }}">
                                    <div class="link-seller-top">Продавец</div>
                                    <div class="link-seller-bot">
                                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.5 6.5C7.5 8.981 9.519 11 12 11C14.481 11 16.5 8.981 16.5 6.5C16.5 4.019 14.481 2 12 2C9.519 2 7.5 4.019 7.5 6.5ZM20 21H21V20C21 16.141 17.859 13 14 13H10C6.14 13 3 16.141 3 20V21H20Z"
                                                  fill="#8989F5"></path>
                                        </svg>
                                        <span>{{ seller.name }}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pay-methods">
                        <a class="link-how-earn" target="_blank" href="https://ggsel.com/how">
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 5C7.031 5 2 6.546 2 9.5C2 12.454 7.031 14 12 14C16.97 14 22 12.454 22 9.5C22 6.546 16.97 5 12 5ZM7 14.938V17.938C8.237 18.237 9.605 18.42 11 18.479V15.479C9.605 15.419 8.237 15.236 7 14.938ZM13 15.478V18.478C14.395 18.419 15.764 18.236 17 17.937V14.937C15.764 15.236 14.395 15.419 13 15.478ZM19 14.297V17.297C20.801 16.542 22 15.44 22 14V11C22 12.44 20.801 13.542 19 14.297ZM5 17.297V14.297C3.2 13.542 2 12.439 2 11V14C2 15.439 3.2 16.542 5 17.297Z"
                                      fill="#31DFAF"></path>
                            </svg>
                            <div class="text">Как заработать <span>4.89₽ </span>на этом товаре?</div>
                        </a>
                        <div class="pay-system-items">
                            <div class="pay-system-item"><img src="/img/webmoney.svg" alt=""></div>
                            <div class="pay-system-item"><img src="/img/qiwi.svg" alt=""></div>
                            <div class="pay-system-item"><img src="/img/yandex.svg" alt=""></div>
                            <div class="pay-system-item"><img src="/img/steam-pay.svg" alt=""></div>
                            <div class="pay-system-item"><img src="/img/visa.svg" alt=""></div>
                            <div class="pay-system-item"><img src="/img/mastercard.svg" alt=""></div>
                            <div class="pay-system-item"><img src="/img/bitcoin.svg" alt=""></div>
                            <div class="pay-system-item"><img src="/img/beeline.svg" alt=""></div>
                            <div class="pay-system-item"><img src="/img/megafon.svg" alt=""></div>
                            <div class="pay-system-item"><img src="/img/tele-2.svg" alt=""></div>
                        </div>
                    </div>
                    <div class="product-descr">
                        <h4>Описание товара</h4>
                        {{ game.message|noFlow|raw }}
                        <h4>Дополнительная информация</h4>
                        {{ game.moreinfo|noFlow|raw }}
                        <h4 class="last-title">Поделитесь с друзьями</h4>
                        <div class="btn-wrap"><a class="btn btn-vk" href="#">
                                <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.579 6.85495C21.719 6.38995 21.579 6.04895 20.917 6.04895H18.724C18.166 6.04895 17.911 6.34395 17.771 6.66795C17.771 6.66795 16.656 9.38695 15.076 11.15C14.566 11.663 14.333 11.825 14.055 11.825C13.916 11.825 13.714 11.663 13.714 11.198V6.85495C13.714 6.29695 13.553 6.04895 13.088 6.04895H9.642C9.294 6.04895 9.084 6.30695 9.084 6.55295C9.084 7.08095 9.874 7.20295 9.955 8.69095V11.919C9.955 12.6259 9.828 12.755 9.548 12.755C8.805 12.755 6.997 10.026 5.924 6.90195C5.715 6.29495 5.504 6.04995 4.944 6.04995H2.752C2.125 6.04995 2 6.34495 2 6.66895C2 7.25095 2.743 10.1309 5.461 13.9399C7.273 16.5409 9.824 17.951 12.148 17.951C13.541 17.951 13.713 17.6379 13.713 17.0979V15.132C13.713 14.5059 13.846 14.38 14.287 14.38C14.611 14.38 15.169 14.544 16.47 15.797C17.956 17.283 18.202 17.95 19.037 17.95H21.229C21.855 17.95 22.168 17.6369 21.988 17.0189C21.791 16.4039 21.081 15.509 20.139 14.45C19.627 13.846 18.862 13.196 18.629 12.871C18.304 12.452 18.398 12.267 18.629 11.895C18.63 11.896 21.301 8.13395 21.579 6.85495Z"
                                          fill="white"></path>
                                </svg>
                                Vkontakte</a><a class="btn btn-fb" href="#">
                                <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.397 20.997V12.801H16.162L16.573 9.59205H13.397V7.54805C13.397 6.62205 13.655 5.98805 14.984 5.98805H16.668V3.12705C15.8487 3.03924 15.0251 2.99684 14.201 3.00005C11.757 3.00005 10.079 4.49205 10.079 7.23105V9.58605H7.33203V12.795H10.085V20.997H13.397Z"
                                          fill="white"></path>
                                </svg>
                                Facebook</a><a class="btn btn-tw" href="#">
                                <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.633 7.99704C19.646 8.17204 19.646 8.34604 19.646 8.52004C19.646 13.845 15.593 19.981 8.186 19.981C5.904 19.981 3.784 19.32 2 18.172C2.324 18.209 2.636 18.222 2.973 18.222C4.78599 18.2264 6.54765 17.6202 7.974 16.501C7.13342 16.4858 6.31858 16.2085 5.64324 15.7078C4.9679 15.2071 4.46578 14.5079 4.207 13.708C4.456 13.745 4.706 13.77 4.968 13.77C5.329 13.77 5.692 13.72 6.029 13.633C5.11676 13.4489 4.29647 12.9544 3.70762 12.2337C3.11876 11.5131 2.79769 10.6107 2.799 9.68004V9.63004C3.336 9.92904 3.959 10.116 4.619 10.141C4.06609 9.77363 3.61272 9.27507 3.29934 8.68983C2.98596 8.1046 2.82231 7.4509 2.823 6.78704C2.823 6.03904 3.022 5.35304 3.371 4.75504C4.38314 6.00006 5.6455 7.0186 7.07634 7.7447C8.50717 8.4708 10.0746 8.88826 11.677 8.97004C11.615 8.67004 11.577 8.35904 11.577 8.04704C11.5767 7.518 11.6807 6.9941 11.8831 6.50528C12.0854 6.01647 12.3821 5.57232 12.7562 5.19823C13.1303 4.82414 13.5744 4.52745 14.0632 4.32512C14.5521 4.12279 15.076 4.01878 15.605 4.01904C16.765 4.01904 17.812 4.50504 18.548 5.29104C19.4498 5.11666 20.3145 4.78747 21.104 4.31804C20.8034 5.24886 20.1738 6.03815 19.333 6.53804C20.1328 6.44682 20.9144 6.2365 21.652 5.91404C21.1011 6.71714 20.4185 7.42139 19.633 7.99704Z"
                                          fill="white"></path>
                                </svg>
                                Twitter</a></div>
                    </div>
                </div>
                <aside class="sidebar">
                    <div class="saller-rating">
                        <div class="saller-rating-wrap">
                            <div class="saller-rating-items">
                                <div class="star-rating"><span style="width: {{ seller.rating }}%"></span></div>
                            </div>
                            <div class="rating-title">
                                <div class="percent">{{ seller.rating }}%</div>
                            </div>
                        </div>
                    </div>
                    <a class="link-seller" href="{{ path('seller', {'seller':seller.sellerId}) }}">
                        <div class="link-seller-top">Продавец</div>
                        <div class="link-seller-bot">
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.5 6.5C7.5 8.981 9.519 11 12 11C14.481 11 16.5 8.981 16.5 6.5C16.5 4.019 14.481 2 12 2C9.519 2 7.5 4.019 7.5 6.5ZM20 21H21V20C21 16.141 17.859 13 14 13H10C6.14 13 3 16.141 3 20V21H20Z"
                                      fill="#8989F5"></path>
                            </svg>
                            <span>{{ seller.name }}</span>
                        </div>
                    </a>
                    <div class="cost-wrap">
                        {% if discount.percent > 0 %}
                            <div class="old">{{ discount.price }} {{ get_curr_symbol(curr) }}</div>
                        {% endif %}
                        <div class="new">{{ game.price(curr) }} {{ get_curr_symbol(curr) }}</div>
                    </div>
                    <a class="btn btn-gradient" onclick="document.getElementById('buy_form').submit();">
                        <svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.822 7.931C21.635 7.661 21.328 7.5 21 7.5H7.333L6.179 4.73C5.867 3.982 5.143 3.5 4.333 3.5H2V5.5H4.333L9.077 16.885C9.232 17.257 9.596 17.5 10 17.5H18C18.417 17.5 18.79 17.241 18.937 16.852L21.937 8.852C22.052 8.544 22.009 8.2 21.822 7.931ZM17.307 15.5H10.667L8.167 9.5H19.557L17.307 15.5Z"
                                  fill="#fff"></path>
                            <path d="M10.5 21.5C11.3284 21.5 12 20.8284 12 20C12 19.1716 11.3284 18.5 10.5 18.5C9.67157 18.5 9 19.1716 9 20C9 20.8284 9.67157 21.5 10.5 21.5Z"
                                  fill="#fff"></path>
                            <path d="M17.5 21.5C18.3284 21.5 19 20.8284 19 20C19 19.1716 18.3284 18.5 17.5 18.5C16.6716 18.5 16 19.1716 16 20C16 20.8284 16.6716 21.5 17.5 21.5Z"
                                  fill="#fff"></path>
                        </svg>
                        Купить</a>
                    <div class="form-group-checkbox">
                        <label class="form-label">Ознакомлен с <a href="#">описанием товара</a>
                            <input class="form-input" type="checkbox" checked="checked"><span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="instant-conversion">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.4955 6.10601L12.5225 2.10601C12.3838 2.03595 12.2307 1.99928 12.0753 1.99893C11.9199 1.99859 11.7665 2.03457 11.6275 2.10401L3.60052 6.10401C3.30352 6.25401 3.09852 6.54101 3.05652 6.87101C3.04352 6.96801 1.91152 16.612 11.5975 21.879C11.7464 21.9602 11.9136 22.002 12.0832 22.0004C12.2528 21.9989 12.4192 21.954 12.5665 21.87C21.8735 16.611 21.0805 7.29701 21.0425 6.90301C21.0261 6.73475 20.9674 6.5734 20.8717 6.43402C20.7761 6.29464 20.6466 6.18179 20.4955 6.10601Z"
                                  fill="#31DFAF"></path>
                        </svg>
                        Моментальное получение
                    </div>
                </aside>
            </div>
        </div>
        {% if related|length > 0 %}
            <div class="block-productation">
                <div class="container">
                    <div class="swiper-wrap">
                        <h2>
                            Рекомендованно <br>именно вам </h2>
                        <div class="swiper recommend-slider">
                            <div class="swiper-wrapper">
                                {% for r in related %}
                                    <div class="swiper-slide">
                                        {% include 'common/_game_item.html.twig' with {'game': r} %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-btn-wrap">
                            <div class="swiper-button-prev swiper-recommend-prev"></div>
                            <div class="swiper-button-next swiper-recommend-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="reviews-wrap" id="reviews">
            <div class="container">
                <h4>Отзывы о товаре</h4>
                <div class="reviews-stats">
                    <div class="reviews-stats-item">
                        <div class="reviews-stats-item-title">Положительных</div>
                        <div class="stats like">
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 21H5V8H4C3.46957 8 2.96086 8.21071 2.58579 8.58579C2.21071 8.96086 2 9.46957 2 10V19C2 19.5304 2.21071 20.0391 2.58579 20.4142C2.96086 20.7893 3.46957 21 4 21ZM20 8H13L14.122 4.632C14.2221 4.33141 14.2494 4.01135 14.2016 3.69815C14.1538 3.38496 14.0322 3.08761 13.847 2.83059C13.6617 2.57358 13.4181 2.36424 13.1361 2.21984C12.8541 2.07543 12.5418 2.00008 12.225 2H12L7 7.438V21H18L21.912 12.404L22 12V10C22 9.46957 21.7893 8.96086 21.4142 8.58579C21.0391 8.21071 20.5304 8 20 8Z"
                                      fill="#31DFAF"></path>
                            </svg>
                            <span>{{ game.cntGoodresponses }}</span>
                        </div>
                    </div>
                    <div class="reviews-stats-item">
                        <div class="reviews-stats-item-title">Отрицательных</div>
                        <div class="stats dislike">
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 3L19 3L19 16L20 16C20.5304 16 21.0391 15.7893 21.4142 15.4142C21.7893 15.0391 22 14.5304 22 14L22 5C22 4.46957 21.7893 3.96086 21.4142 3.58579C21.0391 3.21071 20.5304 3 20 3ZM4 16L11 16L9.878 19.368C9.77789 19.6686 9.75061 19.9887 9.79843 20.3018C9.84624 20.615 9.96778 20.9124 10.153 21.1694C10.3383 21.4264 10.5819 21.6358 10.8639 21.7802C11.1459 21.9246 11.4582 21.9999 11.775 22L12 22L17 16.562L17 3L6 3L2.088 11.596L2 12L2 14C2 14.5304 2.21071 15.0391 2.58579 15.4142C2.96086 15.7893 3.46957 16 4 16Z"
                                      fill="#F32B81"></path>
                            </svg>
                            <span>{{ game.cntBadresponses }}</span>
                        </div>
                    </div>
                </div>
                <div class="reviews-items js-tab-container-resp"
                     data-path="{{ path('get-comments',{digiseller:game.gameId}) }}">
                </div>
                {# <div class="btn-center-wrap"><a class="btn btn-show-more" href="#"> <span>Показать еще</span></a></div> #}
            </div>
        </div>
    </div>

    {% include 'common/_footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {# <script src="/js/slick.min.js"></script> #}
{% endblock %}
{% block ld %}
    <script type="application/ld+json">
        {{ get_ld_product(game)|json_encode()|raw }}
        {{ get_ld_product_breadcrumb(game)|json_encode()|raw }}









    </script>
{% endblock %}