{% extends 'base.html.twig' %}
{% block title %}Товары продавца {{ seller.name }} на СТИМБАЙ{% endblock %}
{% block description %}Покупайте у продавца {{ seller.name }} на официальном сайте STEAMBUY COM!! Более {{ count }} товаров с гарантией!{% endblock %}
{% block body %}
    {% include 'common/_header.html.twig' %}
    <div class="page page-seller">
        <div class="seller-header">
            <div class="container container-gradient">
                <div class="img-seller"></div>
                <h1 class="title-wrap">
                    <div class="title">Продавец {{ seller.name }}</div>
                    <div class="reviews-stats">
                        <div class="reviews-stats-item">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_8_6946)">
                                    <path d="M1.19891 17.5742C0.545391 17.5742 0.015625 18.1041 0.015625 18.7575V36.137C0.015625 36.7905 0.545469 37.3203 1.19891 37.3203H8.32805V17.5742H1.19891Z"
                                          fill="#3BD72D"></path>
                                    <path d="M39.9859 24.1084C39.9859 22.6063 39.1787 21.2891 37.9755 20.5677C38.4365 19.902 38.7069 19.0944 38.7069 18.2251C38.7069 15.9506 36.8564 14.1002 34.582 14.1002H25.8743C26.1412 12.8908 26.5062 11.076 26.7603 9.17626C27.4217 4.23243 26.9697 1.49063 25.3379 0.54774C24.3205 -0.0399945 23.2237 -0.159213 22.2493 0.211724C21.4966 0.498443 20.48 1.20336 19.9007 2.93344L17.6121 8.92571C16.4519 11.7911 12.8988 14.7993 10.6953 16.4627V37.8438C14.7792 39.2747 19.0408 40 23.3884 40H32.8764C35.1509 40 37.0013 38.1495 37.0013 35.8751C37.0013 35.0786 36.7744 34.3341 36.3818 33.7029C37.7569 33.0332 38.7067 31.6212 38.7067 29.9917C38.7067 29.1223 38.4363 28.3149 37.9753 27.6491C39.1787 26.9277 39.9859 25.6105 39.9859 24.1084Z"
                                          fill="#3BD72D"></path>
                                </g>
                                <defs>
                                    <clippath id="clip0_8_6946">
                                        <rect width="40" height="40" fill="white"></rect>
                                    </clippath>
                                </defs>
                            </svg>
                            <span>{{ seller.statistics.cnt_good_responses }}</span>
                        </div>
                        <div class="reviews-stats-item">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_8_6956)">
                                    <path d="M1.19891 22.4258C0.545391 22.4258 0.015625 21.8959 0.015625 21.2425V3.86297C0.015625 3.20945 0.545469 2.67969 1.19891 2.67969H8.32805V22.4258H1.19891Z"
                                          fill="#D21900"></path>
                                    <path d="M39.9859 15.8916C39.9859 17.3937 39.1787 18.7109 37.9755 19.4323C38.4365 20.098 38.7069 20.9056 38.7069 21.7749C38.7069 24.0494 36.8564 25.8998 34.582 25.8998H25.8743C26.1412 27.1092 26.5062 28.924 26.7603 30.8237C27.4217 35.7676 26.9697 38.5094 25.3379 39.4523C24.3205 40.04 23.2237 40.1592 22.2493 39.7883C21.4966 39.5016 20.48 38.7966 19.9007 37.0666L17.6121 31.0743C16.4519 28.2089 12.8988 25.2007 10.6953 23.5373V2.15625C14.7792 0.725307 19.0408 -3.8147e-06 23.3884 -3.8147e-06H32.8764C35.1509 -3.8147e-06 37.0013 1.85046 37.0013 4.12492C37.0013 4.9214 36.7744 5.66593 36.3818 6.2971C37.7569 6.96679 38.7067 8.37882 38.7067 10.0083C38.7067 10.8777 38.4363 11.6851 37.9753 12.3509C39.1787 13.0723 39.9859 14.3895 39.9859 15.8916Z"
                                          fill="#D21900"></path>
                                </g>
                                <defs>
                                    <clippath id="clip0_8_6956">
                                        <rect width="40" height="40" fill="white"
                                              transform="matrix(1 0 0 -1 0 40)"></rect>
                                    </clippath>
                                </defs>
                            </svg>
                            <span>{{ seller.statistics.cnt_bad_responses }}</span>
                        </div>
                    </div>
                </h1>
                <div class="mail">
                    {% if seller.email == 'скрыт продавцом' %}
                        E-mail скрыт продавцом
                    {% else %}
                        <a href="mailto:{{ seller.email }}">{{ seller.email }}</a>
                    {% endif %}
                </div>
                <div class="seller-content-wrap">
                    <div class="links">
                        <div class="saller-rating">
                            <div class="saller-rating-wrap">
                                <div class="rating-title">Рейтинг
                                    <div class="percent">({{ seller.rating }}%)</div>
                                </div>
                                <div class="saller-rating-items">
                                    <div class="star-rating"><span style="width: {{ seller.rating }}%"></span></div>
                                </div>
                            </div>
                        </div>
                        <a id="scroll-seller" class="link-seller" href="">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M38.5875 14.9C38.3325 13.8614 37.7866 12.917 37.014 12.1775C36.2413 11.438 35.2738 10.9342 34.225 10.725C33.2309 10.5345 32.2041 10.6122 31.25 10.95V5C31.25 4.33696 30.9866 3.70107 30.5178 3.23223C30.0489 2.76339 29.413 2.5 28.75 2.5H20.55C20.3012 2.50099 20.0584 2.57618 19.8526 2.71595C19.6469 2.85572 19.4874 3.05371 19.3948 3.28459C19.3022 3.51547 19.2806 3.76873 19.3327 4.01197C19.3849 4.25521 19.5084 4.47737 19.6875 4.65C19.9852 4.93887 20.2217 5.28477 20.3828 5.66706C20.5438 6.04934 20.6262 6.46017 20.625 6.875C20.6241 7.35143 20.5147 7.8214 20.3051 8.24926C20.0955 8.67712 19.7913 9.05163 19.4154 9.34438C19.0395 9.63713 18.6019 9.84043 18.1357 9.93887C17.6696 10.0373 17.1871 10.0283 16.725 9.9125C16.1526 9.7719 15.6327 9.46976 15.2271 9.04204C14.8216 8.61433 14.5475 8.07907 14.4375 7.5C14.3344 6.98966 14.3604 6.46165 14.5132 5.96393C14.666 5.46621 14.9408 5.01456 15.3125 4.65C15.4916 4.47737 15.6151 4.25521 15.6673 4.01197C15.7194 3.76873 15.6978 3.51547 15.6052 3.28459C15.5126 3.05371 15.3531 2.85572 15.1474 2.71595C14.9416 2.57618 14.6988 2.50099 14.45 2.5H6.25C5.58696 2.5 4.95107 2.76339 4.48223 3.23223C4.01339 3.70107 3.75 4.33696 3.75 5V13.2C3.75099 13.4488 3.82618 13.6916 3.96595 13.8974C4.10572 14.1031 4.30371 14.2626 4.53459 14.3552C4.76547 14.4478 5.01873 14.4694 5.26197 14.4173C5.50521 14.3651 5.72737 14.2416 5.9 14.0625C6.21616 13.7577 6.59168 13.5212 7.00317 13.3678C7.41467 13.2144 7.85333 13.1474 8.29187 13.1708C8.7304 13.1943 9.15942 13.3077 9.55221 13.5041C9.94499 13.7006 10.2931 13.9757 10.575 14.3125C11.0555 14.9407 11.28 15.7278 11.203 16.515C11.1261 17.3022 10.7535 18.031 10.1604 18.5543C9.56731 19.0776 8.79785 19.3565 8.0072 19.3349C7.21655 19.3132 6.46353 18.9925 5.9 18.4375C5.72737 18.2584 5.50521 18.1349 5.26197 18.0827C5.01873 18.0306 4.76547 18.0522 4.53459 18.1448C4.30371 18.2374 4.10572 18.3969 3.96595 18.6026C3.82618 18.8084 3.75099 19.0512 3.75 19.3V27.5C3.75 28.163 4.01339 28.7989 4.48223 29.2678C4.95107 29.7366 5.58696 30 6.25 30H12.2C11.8616 30.954 11.7839 31.981 11.975 32.975C12.1842 34.0238 12.688 34.9913 13.4275 35.764C14.167 36.5366 15.1114 37.0825 16.15 37.3375C16.9788 37.5424 17.8433 37.556 18.6781 37.3771C19.5129 37.1983 20.2961 36.8318 20.9682 36.3054C21.6404 35.7791 22.1839 35.1066 22.5576 34.339C22.9312 33.5713 23.1253 32.7287 23.125 31.875C23.124 31.2371 23.0184 30.6037 22.8125 30H28.75C29.413 30 30.0489 29.7366 30.5178 29.2678C30.9866 28.7989 31.25 28.163 31.25 27.5V21.5625C31.8537 21.7684 32.4871 21.874 33.125 21.875C33.9787 21.8753 34.8213 21.6812 35.589 21.3076C36.3566 20.9339 37.0291 20.3904 37.5554 19.7182C38.0818 19.0461 38.4483 18.2629 38.6271 17.4281C38.806 16.5933 38.7924 15.7288 38.5875 14.9Z"
                                      fill="white"></path>
                            </svg>
                            <div class="link-seller-wrap">
                                <div class="link-seller-title">Посмотрите</div>
                                <div class="link-seller-name">Все товары продавца</div>
                            </div>
                        </a>
                        <a class="link-seller"
                           href="https://passport.webmoney.ru//asp/CertView.asp?wmid={{ seller.wmid }}">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M30.9885 20.2107L27.5781 23.292L30.6574 26.7002L34.0678 23.6189L30.9885 20.2107Z"
                                      fill="white"></path>
                                <path d="M24.1964 22.9832L19.6484 27.0771L23.7443 31.6273L28.2923 27.5334L24.1964 22.9832Z"
                                      fill="white"></path>
                                <path d="M37.1389 19.1263L34.8672 21.1738L36.9147 23.4455L39.1864 21.398L37.1389 19.1263Z"
                                      fill="white"></path>
                                <path d="M24.9293 6.15466L21.5156 9.22754L24.5885 12.6412L28.0022 9.56836L24.9293 6.15466Z"
                                      fill="white"></path>
                                <path d="M34.2358 12.3374L31.9688 14.3857L34.019 16.655L36.2861 14.6067L34.2358 12.3374Z"
                                      fill="white"></path>
                                <path d="M20.9664 15.1004L16.4141 19.1982L20.5099 23.7484L25.0623 19.6506L20.9664 15.1004Z"
                                      fill="white"></path>
                                <path d="M17.7142 7.34651L13.1641 11.4424L17.2599 15.9925L21.8101 11.8967L17.7142 7.34651Z"
                                      fill="white"></path>
                                <path d="M28.0615 13.0192L24.6562 16.0928L27.7357 19.5045L31.1409 16.4309L28.0615 13.0192Z"
                                      fill="white"></path>
                                <path d="M31.3108 5.59018L29.0391 7.6377L31.0866 9.90938L33.3583 7.86186L31.3108 5.59018Z"
                                      fill="white"></path>
                                <path d="M33.9983 27.1079L30.5859 30.1826L33.6626 33.5971L37.0749 30.5224L33.9983 27.1079Z"
                                      fill="white"></path>
                                <path d="M28.0087 30.9757L23.5611 35.0767L16.0523 26.7203L18.1406 24.8824L12.8833 18.996L14.9833 17.1552L9.64734 11.2745L17.9746 3.77738L20.6193 6.67256L25.0844 2.68806L27.7232 5.42303L29.4825 3.84729C29.0893 3.6201 28.696 3.41039 28.297 3.22107C25.7601 1.98028 22.9115 1.28125 19.9115 1.28125C9.37647 1.28125 0.78125 9.87356 0.78125 20.4115C0.78125 30.9466 9.37647 39.5389 19.9115 39.5389C23.3339 39.5389 26.5582 38.633 29.3397 37.0456C30.2572 36.5272 31.0932 35.965 31.8563 35.3738L28.0087 30.9757Z"
                                      fill="white"></path>
                            </svg>
                            <div class="link-seller-wrap">
                                <div class="link-seller-title">Сертификат</div>
                                <div class="link-seller-name">Webmoney</div>
                            </div>
                        </a>
                    </div>
                    <div class="seller-stats-items">
                        <div class="seller-stats-item">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M36.9616 16.8064C37.5351 16.8064 38 16.3298 38 15.7419V10.0645C38 9.47657 37.535 9 36.9616 9H14.1154V14.3226C14.1154 14.9105 13.6504 15.3871 13.077 15.3871C12.5035 15.3871 12.0385 14.9104 12.0385 14.3226V9H3.03852C2.46498 9 2 9.47657 2 10.0645V15.7419C2 16.3299 2.46498 16.8064 3.03845 16.8064C4.75625 16.8064 6.15385 18.239 6.15385 20C6.15385 21.761 4.75632 23.1936 3.03845 23.1936C2.46498 23.1936 2 23.6701 2 24.2581V29.9355C2 30.5234 2.46498 31 3.03845 31H12.0384V25.6774C12.0384 25.0895 12.5034 24.6129 13.0769 24.6129C13.6504 24.6129 14.1153 25.0896 14.1153 25.6774V31H36.9615C37.535 31 37.9999 30.5234 37.9999 29.9355V24.2581C37.9999 23.6701 37.535 23.1936 36.9615 23.1936C35.2437 23.1936 33.8461 21.761 33.8461 20C33.8461 18.239 35.2437 16.8064 36.9616 16.8064ZM14.1154 21.4193C14.1154 22.0073 13.6504 22.4838 13.077 22.4838C12.5035 22.4838 12.0385 22.0072 12.0385 21.4193V18.5806C12.0385 17.9927 12.5035 17.5161 13.077 17.5161C13.6504 17.5161 14.1154 17.9927 14.1154 18.5806V21.4193Z"
                                      fill="white"></path>
                            </svg>
                            <div class="seller-stats-content">
                                <div class="num">{{ seller.statistics.cnt_sell }}</div>
                                <div class="text">продаж</div>
                            </div>
                        </div>
                        <div class="seller-stats-item">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_8_8004)">
                                    <path d="M0 16.3328L14.439 24.5995L18.1901 19.893L2.98624 11.8652L0 16.3328Z"
                                          fill="white"></path>
                                    <path d="M21.7695 19.8753L25.5346 24.5994L40 16.3174L36.9732 11.5391L21.7695 19.8753Z"
                                          fill="white"></path>
                                    <path d="M5.17578 10.3733L19.9747 18.1872L34.7948 10.0613L20.0069 3.07617L5.17578 10.3733Z"
                                          fill="white"></path>
                                    <path d="M3.77344 28.9774L18.8192 36.9218V22.8641L15.6471 26.8442C15.2871 27.2959 14.6516 27.4176 14.1503 27.1305L3.77344 21.1895V28.9774Z"
                                          fill="white"></path>
                                    <path d="M21.1602 22.8642V36.8854L36.206 28.6242V21.1895L25.8291 27.1305C25.3278 27.4174 24.6923 27.2959 24.3324 26.8442L21.1602 22.8642Z"
                                          fill="white"></path>
                                </g>
                                <defs>
                                    <clippath id="clip0_8_8004">
                                        <rect width="40" height="40" fill="white"></rect>
                                    </clippath>
                                </defs>
                            </svg>
                            <div class="seller-stats-content">
                                <div class="num">{{ count }}</div>
                                <div class="text">товаров</div>
                            </div>
                        </div>
                        <div class="seller-stats-item">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.4314 1.25524C19.8789 1.24149 19.3264 1.25524 18.7764 1.29149C15.2089 1.52524 11.8414 2.67773 8.87387 4.91023V3.74524C8.87137 3.05899 8.31512 2.50274 7.62887 2.50024C6.93887 2.49774 6.37637 3.05524 6.37387 3.74524V7.62024C6.37387 8.73399 7.71637 9.29024 8.50512 8.50649C14.2789 2.73399 23.4176 2.13524 29.8939 7.10524C36.3701 12.0752 38.1551 21.0552 34.0751 28.1252C29.9926 35.1952 21.3276 38.1327 13.7851 35.0077C6.24262 31.8827 2.19637 23.6815 4.31012 15.7965C4.49012 15.129 4.09262 14.4427 3.42387 14.2652C2.75887 14.084 2.07262 14.4765 1.89012 15.1415C-0.542384 24.2215 4.14137 33.7252 12.8251 37.324C21.5089 40.9215 31.5364 37.5077 36.2364 29.3702C40.9364 21.2327 38.8764 10.8415 31.4189 5.12024C28.1564 2.61649 24.2964 1.34149 20.4314 1.25524ZM20.0026 7.20774C12.9514 7.20774 7.20262 12.9477 7.20262 19.9977C7.20262 27.0477 12.9526 32.7952 20.0026 32.7952C27.0526 32.7952 32.7901 27.0465 32.7901 19.9977C32.7901 12.949 27.0526 7.20774 20.0026 7.20774ZM20.0026 12.144C20.6926 12.1465 21.2501 12.709 21.2476 13.399V13.5915C22.4976 13.7615 23.5689 14.5365 24.1376 15.6152C24.4576 16.2265 24.2214 16.9815 23.6089 17.3027C23.0001 17.6227 22.2439 17.3877 21.9214 16.7777C21.6976 16.3515 21.2651 16.0577 20.7301 16.0577H19.5676C18.8001 16.0577 18.2201 16.6377 18.2201 17.4052C18.2201 18.1727 18.8001 18.7527 19.5676 18.7527H20.0026H20.0639H20.4351C22.5451 18.7527 24.2726 20.4915 24.2726 22.6002C24.2726 24.4315 22.9714 25.9765 21.2476 26.3552V26.604C21.2451 27.2902 20.6889 27.8465 20.0026 27.849C19.3114 27.8527 18.7476 27.2952 18.7451 26.604V26.409C17.4976 26.2365 16.4264 25.4665 15.8589 24.3902C15.5364 23.7802 15.7726 23.0215 16.3839 22.7002C16.9964 22.3777 17.7526 22.6152 18.0739 23.2277C18.2976 23.654 18.7389 23.9452 19.2726 23.9452H20.4351C21.2039 23.9452 21.7726 23.3677 21.7726 22.6002C21.7726 21.8327 21.2039 21.2527 20.4351 21.2527H20.0026H19.5676C17.4576 21.2527 15.7201 19.514 15.7201 17.4052C15.7201 15.579 17.0251 14.0352 18.7451 13.6527V13.399C18.7426 12.704 19.3064 12.1402 20.0026 12.144Z"
                                      fill="white"></path>
                            </svg>
                            <div class="seller-stats-content">
                                <div class="num">{{ seller.statistics.cnt_return }}</div>
                                <div class="text">возвратов</div>
                            </div>
                        </div>
                        <div class="seller-stats-item">
                            <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5227 2.6748C14.4347 3.11784 11.5212 4.3782 9.08392 6.3254C6.64663 8.2726 4.77409 10.8359 3.66016 13.7498H10.8352C11.9972 9.51073 14.3122 5.67699 17.5227 2.6748Z"
                                      fill="white"></path>
                                <path d="M26.5531 13.7494C25.4764 10.2469 23.5075 7.08456 20.8396 4.57275C20.6123 4.36153 20.3134 4.24414 20.0031 4.24414C19.6928 4.24414 19.394 4.36153 19.1666 4.57275C16.4988 7.08456 14.5299 10.2469 13.4531 13.7494H26.5531Z"
                                      fill="white"></path>
                                <path d="M36.3391 13.7498C35.2251 10.8359 33.3526 8.2726 30.9153 6.3254C28.478 4.3782 25.5646 3.11784 22.4766 2.6748C25.687 5.67699 28.002 9.51073 29.1641 13.7498H36.3391Z"
                                      fill="white"></path>
                                <path d="M3.66016 26.25C4.77409 29.164 6.64663 31.7272 9.08392 33.6744C11.5212 35.6216 14.4347 36.882 17.5227 37.325C14.3122 34.3228 11.9972 30.4891 10.8352 26.25H3.66016Z"
                                      fill="white"></path>
                                <path d="M13.4531 26.25C14.5299 29.7525 16.4988 32.9148 19.1666 35.4266C19.394 35.6378 19.6928 35.7552 20.0031 35.7552C20.3134 35.7552 20.6123 35.6378 20.8396 35.4266C23.5075 32.9148 25.4764 29.7525 26.5531 26.25H13.4531Z"
                                      fill="white"></path>
                                <path d="M22.4766 37.325C25.5646 36.882 28.478 35.6216 30.9153 33.6744C33.3526 31.7272 35.2251 29.164 36.3391 26.25H29.1641C28.002 30.4891 25.687 34.3228 22.4766 37.325Z"
                                      fill="white"></path>
                                <path d="M10 20C9.99848 18.7439 10.0988 17.4898 10.3 16.25H2.9C2.36667 18.7216 2.36667 21.2784 2.9 23.75H10.3C10.0988 22.5102 9.99848 21.2561 10 20Z"
                                      fill="white"></path>
                                <path d="M12.5001 20C12.4959 21.2583 12.6131 22.5142 12.8501 23.75H27.1626C27.6126 21.2702 27.6126 18.7298 27.1626 16.25H12.8501C12.6131 17.4858 12.4959 18.7417 12.5001 20Z"
                                      fill="white"></path>
                                <path d="M37.1031 16.25H29.7031C30.1031 18.734 30.1031 21.266 29.7031 23.75H37.1031C37.6365 21.2784 37.6365 18.7216 37.1031 16.25Z"
                                      fill="white"></path>
                            </svg>
                            <div class="seller-stats-content">
                                <div class="num">{{ seller.cuteDate }}</div>
                                <div class="text">на сайте</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-seller-wrap">
            <div class="container">
                <h2 class="title">Товары продавца<span>({{ count }} товаров)</span></h2>
                <div class="search-filter">
                    <div class="search-seller">
                        <form>
                            <input class="input-text js-catalog-search" type="text" placeholder="Поиск по товарам">
                            <input class="btn-search" type="button" value="">
                            <div class="line-bot"></div>
                        </form>
                    </div>
                    <div class="search-filter-wrap"><span>Сортировать</span>
                        <select class="search-dropdown js-select-order" name="state">
                            <option value="&">По рекомендациям</option>
                            <option value="order=wmr&by=DESC">По убыванию цены</option>
                            <option value="order=wmr&by=ASC">По возрастанию цены</option>
                        </select>
                    </div>
                </div>
                {% set path = path('filter', {seller:seller.sellerId,limit:15}) %}
                <div class="product-items js-game-container" data-path="{{ path }}" data-filter="{{ path }}"
                     data-page="0">
                    {% include 'common/_all_games.html.twig' %}
                </div>
                {% if games|length == 15 %}
                    <div class="btn-center js-show-more">
                        <a class="btn btn-blue"> <span>Посмотреть еще</span></a>
                    </div>
                {% endif %}
                <div class="reviews-wrap">
                    <div class="title-wrap">
                        <div class="title">Отзывы о товаре</div>
                        <div class="reviews-stats">
                            <div class="reviews-stats-item">
                                <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_8_6946)">
                                        <path d="M1.19891 17.5742C0.545391 17.5742 0.015625 18.1041 0.015625 18.7575V36.137C0.015625 36.7905 0.545469 37.3203 1.19891 37.3203H8.32805V17.5742H1.19891Z"
                                              fill="#3BD72D"></path>
                                        <path d="M39.9859 24.1084C39.9859 22.6063 39.1787 21.2891 37.9755 20.5677C38.4365 19.902 38.7069 19.0944 38.7069 18.2251C38.7069 15.9506 36.8564 14.1002 34.582 14.1002H25.8743C26.1412 12.8908 26.5062 11.076 26.7603 9.17626C27.4217 4.23243 26.9697 1.49063 25.3379 0.54774C24.3205 -0.0399945 23.2237 -0.159213 22.2493 0.211724C21.4966 0.498443 20.48 1.20336 19.9007 2.93344L17.6121 8.92571C16.4519 11.7911 12.8988 14.7993 10.6953 16.4627V37.8438C14.7792 39.2747 19.0408 40 23.3884 40H32.8764C35.1509 40 37.0013 38.1495 37.0013 35.8751C37.0013 35.0786 36.7744 34.3341 36.3818 33.7029C37.7569 33.0332 38.7067 31.6212 38.7067 29.9917C38.7067 29.1223 38.4363 28.3149 37.9753 27.6491C39.1787 26.9277 39.9859 25.6105 39.9859 24.1084Z"
                                              fill="#3BD72D"></path>
                                    </g>
                                    <defs>
                                        <clippath id="clip0_8_6946">
                                            <rect width="40" height="40" fill="white"></rect>
                                        </clippath>
                                    </defs>
                                </svg>
                                <span>{{ seller.statistics.cnt_good_responses }}</span>
                            </div>
                            <div class="reviews-stats-item">
                                <svg width="40" height="40" viewbox="0 0 40 40" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_8_6956)">
                                        <path d="M1.19891 22.4258C0.545391 22.4258 0.015625 21.8959 0.015625 21.2425V3.86297C0.015625 3.20945 0.545469 2.67969 1.19891 2.67969H8.32805V22.4258H1.19891Z"
                                              fill="#D21900"></path>
                                        <path d="M39.9859 15.8916C39.9859 17.3937 39.1787 18.7109 37.9755 19.4323C38.4365 20.098 38.7069 20.9056 38.7069 21.7749C38.7069 24.0494 36.8564 25.8998 34.582 25.8998H25.8743C26.1412 27.1092 26.5062 28.924 26.7603 30.8237C27.4217 35.7676 26.9697 38.5094 25.3379 39.4523C24.3205 40.04 23.2237 40.1592 22.2493 39.7883C21.4966 39.5016 20.48 38.7966 19.9007 37.0666L17.6121 31.0743C16.4519 28.2089 12.8988 25.2007 10.6953 23.5373V2.15625C14.7792 0.725307 19.0408 -3.8147e-06 23.3884 -3.8147e-06H32.8764C35.1509 -3.8147e-06 37.0013 1.85046 37.0013 4.12492C37.0013 4.9214 36.7744 5.66593 36.3818 6.2971C37.7569 6.96679 38.7067 8.37882 38.7067 10.0083C38.7067 10.8777 38.4363 11.6851 37.9753 12.3509C39.1787 13.0723 39.9859 14.3895 39.9859 15.8916Z"
                                              fill="#D21900"></path>
                                    </g>
                                    <defs>
                                        <clippath id="clip0_8_6956">
                                            <rect width="40" height="40" fill="white"
                                                  transform="matrix(1 0 0 -1 0 40)"></rect>
                                        </clippath>
                                    </defs>
                                </svg>
                                <span>{{ seller.statistics.cnt_bad_responses }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="text">Убедительная просьба не ставить негативный отзыв до связи с продавцом</div>
                    {% if games|first %}
                        <div class="reviews-items js-tab-container-resp"
                             data-path="{{ path('get-comments',{digiseller:games|first.gameId}) }}">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'common/_footer.html.twig' %}
{% endblock %}