{% extends 'base.html.twig' %}
{% block title %}Товары продавца {{ seller.name }} на СТИМБАЙ{% endblock %}
{% block description %}Покупайте у продавца {{ seller.name }} на официальном сайте STEAMBUY COM!! Более {{ count }} товаров с гарантией!{% endblock %}
{% block body %}
    {% include 'common/_header.html.twig' %}
    <div class="page page-seller">
        <div class="instruction-header">
            <div class="instruction-header-bg">
                <picture>
                    <source media="(max-width: 500px)" srcset="/img/catalog-bg-mob.png">
                    <img src="/img/seller-bg.png" alt="">
                </picture>
            </div>
            <div class="container">
                <h1 class="title-wrap">Продавец:
                    <div class="name">{{ seller.name }}</div>
                </h1>
                <div class="seller-info-wrap">
                    <div class="saller-rating">
                        <div class="saller-rating-wrap">
                            <div class="saller-rating-items">
                                <div class="star-rating"><span style="width: {{ seller.rating }}%"></span></div>
                            </div>
                            <div class="rating-title">
                                <div class="percent">{{ seller.rating }}%</div>
                            </div>
                        </div>
                    </div>
                    <div class="start-of-cooperation">На сайте {{ seller.cuteDate }}</div>
                </div>
                <div class="mail">
                    {% if seller.email == 'скрыт продавцом' %}
                        <a>E-mail скрыт продавцом</a>
                    {% else %}
                        <a href="mailto:{{ seller.email }}">{{ seller.email }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="seller-info-wrap">
            <div class="container">
                <div class="seller-info">
                    <div class="reviews-stats">
                        <div class="reviews-stats-item">
                            <div class="stats like">
                                <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 21H5V8H4C3.46957 8 2.96086 8.21071 2.58579 8.58579C2.21071 8.96086 2 9.46957 2 10V19C2 19.5304 2.21071 20.0391 2.58579 20.4142C2.96086 20.7893 3.46957 21 4 21ZM20 8H13L14.122 4.632C14.2221 4.33141 14.2494 4.01135 14.2016 3.69815C14.1538 3.38496 14.0322 3.08761 13.847 2.83059C13.6617 2.57358 13.4181 2.36424 13.1361 2.21984C12.8541 2.07543 12.5418 2.00008 12.225 2H12L7 7.438V21H18L21.912 12.404L22 12V10C22 9.46957 21.7893 8.96086 21.4142 8.58579C21.0391 8.21071 20.5304 8 20 8Z"
                                          fill="#31DFAF"></path>
                                </svg>
                                <span>{{ seller.statistics.cnt_good_responses }}</span>
                            </div>
                        </div>
                        <div class="reviews-stats-item">
                            <div class="stats dislike">
                                <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 3L19 3L19 16L20 16C20.5304 16 21.0391 15.7893 21.4142 15.4142C21.7893 15.0391 22 14.5304 22 14L22 5C22 4.46957 21.7893 3.96086 21.4142 3.58579C21.0391 3.21071 20.5304 3 20 3ZM4 16L11 16L9.878 19.368C9.77789 19.6686 9.75061 19.9887 9.79843 20.3018C9.84624 20.615 9.96778 20.9124 10.153 21.1694C10.3383 21.4264 10.5819 21.6358 10.8639 21.7802C11.1459 21.9246 11.4582 21.9999 11.775 22L12 22L17 16.562L17 3L6 3L2.088 11.596L2 12L2 14C2 14.5304 2.21071 15.0391 2.58579 15.4142C2.96086 15.7893 3.46957 16 4 16Z"
                                          fill="#F32B81"></path>
                                </svg>
                                <span>{{ seller.statistics.cnt_bad_responses }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="seller-stats">
                        <div class="seller-stats-items">
                            <div class="seller-stats-item">
                                <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.707 2.293C11.52 2.105 11.265 2 11 2H6C5.735 2 5.48 2.105 5.293 2.293L2.293 5.293C2.105 5.48 2 5.734 2 6V11C2 11.266 2.105 11.52 2.293 11.707L12.293 21.707C12.488 21.902 12.744 22 13 22C13.256 22 13.512 21.902 13.707 21.707L21.707 13.707C22.098 13.316 22.098 12.684 21.707 12.293L11.707 2.293ZM13 19.586L4 10.586V6.414L6.414 4H10.586L19.586 13L13 19.586Z"
                                          fill="#8989F5"></path>
                                    <path d="M10.647 12.294C11.5566 12.294 12.294 11.5566 12.294 10.647C12.294 9.73739 11.5566 9 10.647 9C9.73739 9 9 9.73739 9 10.647C9 11.5566 9.73739 12.294 10.647 12.294Z"
                                          fill="#8989F5"></path>
                                </svg>
                                <div class="stats-info">
                                    <div class="num">{{ seller.statistics.cnt_sell }}</div>
                                    <div class="text">Продажи</div>
                                </div>
                            </div>
                            <div class="seller-stats-item">
                                <svg width="25" height="24" viewbox="0 0 25 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.648 2.971C19.4698 2.67552 19.2185 2.43095 18.9183 2.26087C18.618 2.09079 18.279 2.00095 17.934 2H7.066C6.368 2 5.711 2.372 5.352 2.971L2.643 7.485C2.54926 7.64041 2.49981 7.8185 2.5 8C2.50399 8.96521 2.85949 9.89591 3.5 10.618V19C3.5 20.103 4.397 21 5.5 21H19.5C20.603 21 21.5 20.103 21.5 19V10.618C22.1405 9.89591 22.496 8.96521 22.5 8C22.5002 7.8185 22.4507 7.64041 22.357 7.485L19.648 2.971ZM20.484 8.251C20.4223 8.73382 20.1868 9.17764 19.8217 9.49952C19.4566 9.8214 18.9867 9.99931 18.5 10C17.397 10 16.5 9.103 16.5 8C16.5 7.932 16.475 7.872 16.461 7.808L16.481 7.804L15.72 4H17.934L20.484 8.251ZM11.319 4H13.68L14.493 8.065C14.458 9.137 13.58 10 12.5 10C11.42 10 10.542 9.137 10.507 8.065L11.319 4ZM7.066 4H9.28L8.52 7.804L8.54 7.808C8.525 7.872 8.5 7.932 8.5 8C8.5 9.103 7.603 10 6.5 10C6.01325 9.99931 5.54341 9.8214 5.17828 9.49952C4.81315 9.17764 4.57772 8.73382 4.516 8.251L7.066 4ZM10.5 19V16H14.5V19H10.5ZM16.5 19V16C16.5 14.897 15.603 14 14.5 14H10.5C9.397 14 8.5 14.897 8.5 16V19H5.5V11.858C5.821 11.941 6.152 12 6.5 12C7.06782 12.0003 7.62915 11.8794 8.1465 11.6454C8.66386 11.4114 9.1253 11.0696 9.5 10.643C10.233 11.475 11.307 12 12.5 12C13.693 12 14.767 11.475 15.5 10.643C15.8747 11.0696 16.3361 11.4114 16.8535 11.6454C17.3708 11.8794 17.9322 12.0003 18.5 12C18.848 12 19.179 11.941 19.5 11.858V19H16.5Z"
                                          fill="#8989F5"></path>
                                </svg>
                                <div class="stats-info">
                                    <div class="num">{{ count }}</div>
                                    <div class="text">Товаров</div>
                                </div>
                            </div>
                            <div class="seller-stats-item">
                                <svg width="25" height="24" viewbox="0 0 25 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.4997 7.05V4C11.4997 3.73478 11.3943 3.48043 11.2068 3.29289C11.0193 3.10536 10.7649 3 10.4997 3C10.2374 3.0011 9.98597 3.10526 9.7997 3.29L2.7997 10.29C2.70598 10.383 2.63158 10.4936 2.58081 10.6154C2.53004 10.7373 2.50391 10.868 2.50391 11C2.50391 11.132 2.53004 11.2627 2.58081 11.3846C2.63158 11.5064 2.70598 11.617 2.7997 11.71L9.7997 18.71C9.94009 18.8476 10.1179 18.9408 10.311 18.9779C10.504 19.015 10.7037 18.9944 10.8851 18.9186C11.0665 18.8429 11.2215 18.7153 11.3308 18.5519C11.4402 18.3886 11.4989 18.1966 11.4997 18V14.9H12.3497C13.9296 14.8764 15.4957 15.197 16.9394 15.8393C18.383 16.4817 19.6695 17.4306 20.7097 18.62C20.8351 18.7869 21.0095 18.9104 21.2085 18.9731C21.4076 19.0359 21.6213 19.0348 21.8197 18.97C22.0216 18.9019 22.1965 18.771 22.3188 18.5965C22.4411 18.422 22.5045 18.213 22.4997 18C22.4997 8.88 14.4197 7.32 11.4997 7.05ZM12.3497 12.88C11.6809 12.8779 11.0126 12.9213 10.3497 13.01C10.113 13.0459 9.89697 13.1656 9.74099 13.3473C9.58501 13.5289 9.49939 13.7606 9.4997 14V15.59L4.9197 11L9.4997 6.41V8C9.4997 8.26522 9.60506 8.51957 9.7926 8.70711C9.98013 8.89464 10.2345 9 10.4997 9C11.4097 9 18.6097 9.2 20.1697 15.43C17.9054 13.7606 15.1629 12.8663 12.3497 12.88Z"
                                          fill="#8989F5"></path>
                                </svg>
                                <div class="stats-info">
                                    <div class="num">{{ seller.statistics.cnt_return }}</div>
                                    <div class="text">Возврат</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="links"><a class="link-seller scroll-to" href="#products">
                            <div class="link-seller-top">Все товары</div>
                            <div class="link-seller-bot">
                                <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.5 6.5C7.5 8.981 9.519 11 12 11C14.481 11 16.5 8.981 16.5 6.5C16.5 4.019 14.481 2 12 2C9.519 2 7.5 4.019 7.5 6.5ZM20 21H21V20C21 16.141 17.859 13 14 13H10C6.14 13 3 16.141 3 20V21H20Z"
                                          fill="#8989F5"></path>
                                </svg>
                                <span>{{ seller.name }}</span>
                            </div>
                        </a><a class="link-seller"
                               href="https://passport.webmoney.ru//asp/CertView.asp?wmid={{ seller.wmid }}">
                            <div class="link-seller-top">Сертификат</div>
                            <div class="link-seller-bot">
                                <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 4H4C2.897 4 2 4.897 2 6V18C2 19.103 2.897 20 4 20H20C21.103 20 22 19.103 22 18V6C22 4.897 21.103 4 20 4ZM8.715 8C9.866 8 10.715 8.849 10.715 10C10.715 11.151 9.866 12 8.715 12C7.564 12 6.715 11.151 6.715 10C6.715 8.849 7.563 8 8.715 8ZM12.43 16H5V15.535C5 14.162 6.676 12.75 8.715 12.75C10.754 12.75 12.43 14.162 12.43 15.535V16ZM19 15H15V13H19V15ZM19 11H14V9H19V11Z"
                                          fill="#8989F5"></path>
                                </svg>
                                <span>Webmoney</span>
                            </div>
                        </a></div>
                </div>
            </div>
            <div class="seller-items-wrap">
                <div class="container">
                    <div class="seller-items-header" id="products">
                        <h2 class="title-wrap">
                            Товары продавца
                            <div class="prod-counter">{{ count }} товаров</div>
                        </h2>
                        <div class="mob-sort">
                            <div class="test">Сортировать по:</div>
                            <select class="js-init-select">
                                <option value="1">Рекомендациям</option>
                                <option value="2">Цене</option>
                                <option value="3">Популярности</option>
                            </select>
                        </div>
                        <div class="seller-products-sort"><span>Сортировать по:</span>
                            <div class="sort-links"><a class="active" href="#">Рекомендациям</a><a href="#">Цене</a><a
                                        href="#">Популярности</a></div>
                        </div>
                        <div class="header-search">
                            <form>
                                <input class="btn-search" type="button" value="">
                                <input class="input-text" type="text" placeholder="Поиск по товарам">
                                <div class="line-bot"></div>
                            </form>
                        </div>
                    </div>
                    {% set path = path('filter', {seller:seller.sellerId,limit:15}) %}
                    <div class="product-items js-game-container" data-path="{{ path }}" data-filter="{{ path }}"
                         data-page="0">
                        {% include 'common/_all_games.html.twig' %}
                    </div>
                    {% if games|length == 15 %}
                        <div class="btn-center-wrap js-show-more">
                            <a class="btn btn-show-more"> <span>Показать еще</span></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="reviews-wrap">
            <div class="container">
                <h4>Отзывы о товаре</h4>
                <div class="reviews-stats">
                    <div class="reviews-stats-item">
                        <div class="reviews-stats-item-title">Положительных</div>
                        <div class="stats like">
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 21H5V8H4C3.46957 8 2.96086 8.21071 2.58579 8.58579C2.21071 8.96086 2 9.46957 2 10V19C2 19.5304 2.21071 20.0391 2.58579 20.4142C2.96086 20.7893 3.46957 21 4 21ZM20 8H13L14.122 4.632C14.2221 4.33141 14.2494 4.01135 14.2016 3.69815C14.1538 3.38496 14.0322 3.08761 13.847 2.83059C13.6617 2.57358 13.4181 2.36424 13.1361 2.21984C12.8541 2.07543 12.5418 2.00008 12.225 2H12L7 7.438V21H18L21.912 12.404L22 12V10C22 9.46957 21.7893 8.96086 21.4142 8.58579C21.0391 8.21071 20.5304 8 20 8Z"
                                      fill="#31DFAF"></path>
                            </svg>
                            <span>{{ seller.statistics.cnt_good_responses }}</span>
                        </div>
                    </div>
                    <div class="reviews-stats-item">
                        <div class="reviews-stats-item-title">Отрицательных</div>
                        <div class="stats dislike">
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 3L19 3L19 16L20 16C20.5304 16 21.0391 15.7893 21.4142 15.4142C21.7893 15.0391 22 14.5304 22 14L22 5C22 4.46957 21.7893 3.96086 21.4142 3.58579C21.0391 3.21071 20.5304 3 20 3ZM4 16L11 16L9.878 19.368C9.77789 19.6686 9.75061 19.9887 9.79843 20.3018C9.84624 20.615 9.96778 20.9124 10.153 21.1694C10.3383 21.4264 10.5819 21.6358 10.8639 21.7802C11.1459 21.9246 11.4582 21.9999 11.775 22L12 22L17 16.562L17 3L6 3L2.088 11.596L2 12L2 14C2 14.5304 2.21071 15.0391 2.58579 15.4142C2.96086 15.7893 3.46957 16 4 16Z"
                                      fill="#F32B81"></path>
                            </svg>
                            <span>{{ seller.statistics.cnt_bad_responses }}</span>
                        </div>
                    </div>
                </div>

                {% if games|first %}
                    <div class="reviews-items js-tab-container-resp"
                         data-path="{{ path('get-comments',{digiseller:games|first.gameId}) }}">
                    </div>
                {% endif %}
{#                <div class="btn-center-wrap"><a class="btn btn-show-more" href="#"> <span>Показать еще</span></a></div>#}
            </div>
        </div>
    </div>
    {% include 'common/_footer.html.twig' %}
{% endblock %}