{% extends 'base.html.twig' %}
{% block title %}Поиск цифровых товаров по Zaka-zakas{% endblock %}
{% block body %}
    {% include 'common/_header.html.twig' %}
    <div class="page page-search">
        <div class="instruction-header">
            <div class="instruction-header-bg">
                <picture>
                    <source media="(max-width: 500px)" srcset="/img/catalog-bg-mob.png">
                    <img src="/img/catalog-bg.png" alt="">
                </picture>
            </div>
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li>Поиск</li>
                </ul>
                <h1>Поиск по {{ search }}</h1>
            </div>
        </div>
        <div class="container">
            <div class="search-content">
                <aside class="sidebar">
                    <div class="filter-mob">
                        <svg width="22" height="22" viewbox="0 0 22 22" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.04804 10.859C8.39372 11.3592 8.29038 10.9424 8.29038 20.9135C8.29038 21.8058 9.3084 22.3165 10.0259 21.7828C13.0918 19.4712 13.7044 19.271 13.7044 18.1898C13.7044 10.9236 13.6197 11.3322 13.9467 10.859L18.9255 4.08203H3.06934L8.04804 10.859Z"
                                  fill="white"></path>
                            <path d="M20.8066 0.552578C20.6287 0.211836 20.2798 0 19.8957 0H2.09992C1.27041 0 0.782324 0.93573 1.25816 1.61562C1.26207 1.62216 1.20415 1.54288 2.12269 2.79297H19.8729C20.6556 1.72764 21.1789 1.26736 20.8066 0.552578Z"
                                  fill="white"></path>
                        </svg>
                        <span>Фильтры</span>
                    </div>
                    <div class="filter-modal">
                        <div class="filter-content"><a class="close-filter" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20"
                                     fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M4.70711 2.29289C4.31658 1.90237 3.68342 1.90237 3.29289 2.29289C2.90237 2.68342 2.90237 3.31658 3.29289 3.70711L9.08579 9.5L3.29289 15.2929C2.90237 15.6834 2.90237 16.3166 3.29289 16.7071C3.68342 17.0976 4.31658 17.0976 4.70711 16.7071L10.5 10.9142L16.2929 16.7071C16.6834 17.0976 17.3166 17.0976 17.7071 16.7071C18.0976 16.3166 18.0976 15.6834 17.7071 15.2929L11.9142 9.5L17.7071 3.70711C18.0976 3.31658 18.0976 2.68342 17.7071 2.29289C17.3166 1.90237 16.6834 1.90237 16.2929 2.29289L10.5 8.08579L4.70711 2.29289Z"
                                          fill="white"></path>
                                </svg>
                            </a>
                            <div class="header-search">
                                <form>
                                    <input class="btn-search" type="button" value="">
                                    <input class="input-text" type="text" placeholder="Поиск по товарам">
                                    <div class="line-bot"></div>
                                </form>
                            </div>
                            <div class="sidebar-title">Цена</div>
                            <div class="slider-wrap">
                                <div class="filter-price"></div>
                                <div class="slider-top-wrap">
                                    <div class="input-wrap">
                                        <input class="input-with-keypress-0 js-inpit-min" data-curr="{{ curr }}" type="text" placeholder="5" value="5" data-default="5">
                                        <input class="input-with-keypress-1 js-inpit-max" type="text" placeholder="7000" value="7000" data-default="7000">
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-title">Тип контента</div>
                            <div class="sidebar-links">
                                <form class="form">
                                    <div class="form-group">
                                        <div class="form-group-checkbox">
                                            {% for section in sections %}
                                                {% if section.section %}
                                                    <label class="form-label js-section">{{ section.section }}
                                                        <input class="form-input js-section-input" type="checkbox" value="{{ section.section }}"
                                                               checked><span
                                                                class="checkmark"></span>
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="clear-wrap">
                                <a class="btn btn-gradient js-clean-filter">
                                    <svg width="17" height="16" viewbox="0 0 17 16" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.61454 10.828L8.49988 8.94266L10.3852 10.828L11.3279 9.88533L9.44254 8L11.3279 6.11466L10.3852 5.172L8.49988 7.05733L6.61454 5.172L5.67188 6.11466L7.55721 8L5.67188 9.88533L6.61454 10.828Z"
                                              fill="white"></path>
                                        <path d="M8.49967 14.6667C12.1757 14.6667 15.1663 11.676 15.1663 8.00001C15.1663 4.32401 12.1757 1.33334 8.49967 1.33334C4.82367 1.33334 1.83301 4.32401 1.83301 8.00001C1.83301 11.676 4.82367 14.6667 8.49967 14.6667ZM8.49967 2.66668C11.4403 2.66668 13.833 5.05934 13.833 8.00001C13.833 10.9407 11.4403 13.3333 8.49967 13.3333C5.55901 13.3333 3.16634 10.9407 3.16634 8.00001C3.16634 5.05934 5.55901 2.66668 8.49967 2.66668Z"
                                              fill="white"></path>
                                    </svg>
                                    Сбросить фильтры</a>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="search-result">
                    <div class="seller-items-header">
                        <div class="prod-counter">{{ count }} товар</div>
                        <div class="mob-sort">
                            <select class="js-init-select">
                                <option value="1">Рекомендациям</option>
                                <option value="2">Цене</option>
                                <option value="3">Популярности</option>
                            </select>
                        </div>
                        <div class="seller-products-sort"><span>Сортировать по:</span>
                            <div class="sort-links">
                                <a class="active" href="#">Рекомендациям</a>
                                <a href="#">Цене</a>
                                <a href="#">Популярности</a></div>
                        </div>
                    </div>
                    {% if games|length > 0 %}
                        {% set path = path('filter', {name:search}) %}
                        {% set page = 1 %}
                        <div class="product-items js-game-container" data-path="{{ path }}" data-filter="{{ path }}"
                             data-page="{{ page }}">
                            {% include 'common/_all_games.html.twig' %}
                        </div>
                        {% if games|length == 12 %}
                            <div class="pagination js-pagination" data-path="{{ path('pagination') }}">
                                {% include 'common/_pagination.html.twig' %}
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="search-not-found">
                            <svg width="217" height="105" viewbox="0 0 217 105" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <circle cx="187.719" cy="76.5" r="28.5" fill="#F32B81"></circle>
                                <circle cx="187" cy="76.5" r="21.5" fill="#12121D"></circle>
                                <path d="M161.281 72L121.281 33V17L134.281 13.5L131.281 4.00003H141.281L186.281 51"
                                      stroke="#F32B81" stroke-width="7" stroke-linecap="round"></path>
                                <path d="M67.7812 4L5.78125 66L28.7812 87.5L96.7812 24L96.7812 14L87.2812 17L83.7812 4L67.7812 4Z"
                                      stroke="#F32B81" stroke-width="7" stroke-linecap="round"></path>
                                <rect x="70.9133" y="50.0276" width="22.7762" height="31.3691"
                                      transform="rotate(44.8917 70.9133 50.0276)" stroke="#F32B81"
                                      stroke-width="6"></rect>
                            </svg>
                            <div class="search-not-found-desc">По вашему запросу ничего не найдено!</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'common/_footer.html.twig' %}
{% endblock %}