{% extends 'base.html.twig' %}
{% block title %}Поиск цифровых товаров по Steambuys{% endblock %}
{% block body %}
    {% include 'common/_header.html.twig' %}
    {# <div class="content"> #}
    {# <div class="top-sales"> #}
    {# <div class="container"> #}
    {# <div class="breadcrumbs"> #}
    {# <a href="/">Главная</a> #}
    {# <span>{{ title }}</span> #}
    {# </div> #}
    {# <div class="title-wrap"> #}
    {# <h1 class="title">{{ title|upper }}</h1> #}
    {# {% include 'common/_btn_filter.html.twig' %} #}
    {# </div> #}
    {# {% if flag == 'stock' %} #}
    {# {% set path = path('filter', {stock:'stock'}) %} #}
    {# {% elseif flag == 'search' %} #}
    {# {% set path = path('filter', {name:search}) %} #}
    {# {% endif %} #}
    {# <div class="top-sales-items-wrap"> #}
    {# <div class="top-sales-items" data-page="0" data-path="{{ path }}" data-filter="{{ path }}"> #}
    {# {% include 'common/_all_games.html.twig' %} #}
    {# </div> #}
    {# <div class="btn-center js-show-more"> #}
    {# <a class="btn-blue btn-arrow"> #}
    {# <span>Показать еще</span> #}
    {# <svg width="24" height="24" viewBox="0 0 24 24" fill="none" #}
    {# xmlns="http://www.w3.org/2000/svg"> #}
    {# <path d="M16.293 9.29297L12 13.586L7.70697 9.29297L6.29297 10.707L12 16.414L17.707 10.707L16.293 9.29297Z" #}
    {# fill="white"/> #}
    {# </svg> #}
    {# </a> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# {% include 'common/_garanty.html.twig' %} #}
    {# {% include 'common/_reviews.html.twig' %} #}
    {# </div> #}

    {% if games|length > 0 %}
        <div class="page page-search">
            <div class="container">
                <div class="breadcrumbs-wrap">
                    <div class="breadcrumbs">
                        <a href="/"><span>Главная</span></a>
                        <span class="active">Поиск</span></div>
                </div>
                <h1 class="title">Поиск по {{ search }}
                    {# <span class="num">(456 товаров)</span> #}
                </h1>
                <div class="search-content">
                    <aside class="sidebar">
                        <div class="filter-mob">
                            <svg width="22" height="22" viewbox="0 0 22 22" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.04804 10.859C8.39372 11.3592 8.29038 10.9424 8.29038 20.9135C8.29038 21.8058 9.3084 22.3165 10.0259 21.7828C13.0918 19.4712 13.7044 19.271 13.7044 18.1898C13.7044 10.9236 13.6197 11.3322 13.9467 10.859L18.9255 4.08203H3.06934L8.04804 10.859Z"
                                      fill="white"></path>
                                <path d="M20.8066 0.552578C20.6287 0.211836 20.2798 0 19.8957 0H2.09992C1.27041 0 0.782324 0.93573 1.25816 1.61562C1.26207 1.62216 1.20415 1.54288 2.12269 2.79297H19.8729C20.6556 1.72764 21.1789 1.26736 20.8066 0.552578Z"
                                      fill="white"></path>
                            </svg>
                            <span>Фильтры</span>
                        </div>
                        <div class="filter-modal">
                            <div class="filter-content"><a class="close" href="#"> </a>
                                <div class="sidebar-title">Тип контента</div>
                                <form class="form">
                                    <div class="form-group">
                                        <div class="form-group-checkbox">
                                            {% for section in sections %}
                                                <label class="form-label js-section">{{ section.section }}
                                                    <span class="num">({{ section.count }})</span>
                                                    <input class="form-input js-section-input" value="{{ section.section }}" type="checkbox" checked>
                                                    <span class="checkmark"></span>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </form>
                                <div class="sidebar-title">
                                    Цена<span class="num">(₽)</span></div>
                                <div class="slider-wrap">
                                    <div class="filter-price"></div>
                                    <div class="slider-top-wrap">
                                        <div class="input-wrap">
                                            <input class="input-with-keypress-0 js-inpit-min" data-curr="{{ curr }}" type="text" placeholder="5" value="5" data-default="5">
                                            <input class="input-with-keypress-1 js-inpit-max" type="text" placeholder="7000" value="7000" data-default="7000">
                                        </div>
                                    </div>
                                </div>
                                {# <div class="clear-wrap"><a class="btn btn-clear" href="#"> #}
                                {# <svg width="28" height="28" viewbox="0 0 28 28" fill="none" #}
                                {# xmlns="http://www.w3.org/2000/svg"> #}
                                {# <path d="M16.0155 14.0002L24.5819 5.43337C25.1394 4.87613 25.1394 3.97516 24.5819 3.41793C24.0247 2.86069 23.1237 2.86069 22.5665 3.41793L13.9999 11.9847L5.43351 3.41793C4.87603 2.86069 3.97534 2.86069 3.41811 3.41793C2.86063 3.97516 2.86063 4.87613 3.41811 5.43337L11.9845 14.0002L3.41811 22.567C2.86063 23.1242 2.86063 24.0252 3.41811 24.5824C3.69581 24.8604 4.06094 25 4.42581 25C4.79068 25 5.15555 24.8604 5.43351 24.5824L13.9999 16.0156L22.5665 24.5824C22.8444 24.8604 23.2093 25 23.5742 25C23.9391 25 24.3039 24.8604 24.5819 24.5824C25.1394 24.0252 25.1394 23.1242 24.5819 22.567L16.0155 14.0002Z" #}
                                {# fill="white"></path> #}
                                {# </svg> #}
                                {# <span class="text">Очистить фильтр</span></a> #}
                                {# </div> #}
                            </div>
                        </div>
                    </aside>
                    <div class="search-result">
                        <div class="search-filter">
                            <div class="search-filter-wrap"><span>Сортировать</span>
                                <select class="search-dropdown js-select-order" name="state">
                                    <option value="&">По рекомендациям</option>
                                    <option value="order=wmr&by=DESC">По убыванию цены</option>
                                    <option value="order=wmr&by=ASC">По возрастанию цены</option>
                                </select>
                            </div>
                        </div>
                        {% set path = path('filter', {name:search}) %}
                        <div class="product-items js-game-container" data-path="{{ path }}" data-filter="{{ path }}"
                             data-page="0">
                            {% include 'common/_all_games.html.twig' %}
                        </div>
                        {% if games|length == 12 %}
                            <div class="btn-center js-show-more">
                                <a class="btn btn-blue"> <span>Посмотреть еще</span></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="page page-search not-found">
            <div class="container">
                <div class="breadcrumbs-wrap">
                    <div class="breadcrumbs">
                        <a href="/"><span>Главная</span></a>
                        <span class="active">Поиск</span>
                    </div>
                </div>
                <div class="not-found-content">
                    <h1 class="title">Поиск по {{ search }}
                        {# <span class="num">(0 товаров)</span> #}
                    </h1>
                    <div class="text">По этому запросу ничего не найдено, но мы уже нашли для Вас несколько отличных
                        товаров
                        с хорошей скидкой!
                    </div>
                </div>
                {% set recommend = get_recomended_games() %}
                <div class="swiper-wrap">
                    <div class="swiper recommend-slider">
                        <div class="swiper-wrapper">
                            {% for game in recommend %}
                                {% set category = category is defined ? category : null %}
                                {% set discount = get_discount(game, category, curr) %}
                                <div class="swiper-slide">
                                    <a class="product-item"
                                       href="{{ path('game', {digiseller:game.gameId,slug:get_slug(game.title)}) }}">
                                        <div class="product-item-img">
                                        <img class="lazy" data-src="{{ game.img(233,233) }}" alt="{{ game.title }}">
                                            {% if discount.percent > 0 %}
                                                <span class="product-item-cost-sale">-{{ discount.percent }}%</span>
                                            {% endif %}
                                        </div>
                                        <span class="product-item-content">
                                        <span class="product-item-title">{{ game.title }}</span>
                                        <span class="product-item-cat">{{ game.section }}</span>
                                        <span class="product-item-stats"> <span>{{ game.sales }}</span>продаж</span>
                                        <span class="price-wrap">
                                            <span class="cost">
                                                {% if discount.percent > 0 and game.price(curr)|length < 4 %}
                                                    <span class="old">{{ discount.price }} {{ get_curr_symbol(curr) }}</span>
                                                {% endif %}
                                                <span class="new">{{ game.price(curr) }} {{ get_curr_symbol(curr) }}</span>
                                            </span>
                                            <span class="btn-wrap">
                                                <div class="btn btn-blue"
                                                     href="{{ path('game', {digiseller:game.gameId,slug:get_slug(game.title)}) }}">Купить</div>
                                            </span>
                                        </span>
                                    </span>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-button-prev swiper-recommend-prev"></div>
                    <div class="swiper-button-next swiper-recommend-next"></div>
                    <div class="swiper-pagination recommend-pagination"></div>
                </div>
            </div>
        </div>
    {% endif %}


    {% include 'common/_footer.html.twig' %}
{% endblock %}